.signup-content{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
    @media (min-width:575px) {
        padding: 80px 0;
    }
    @media (min-width:992px) {
        margin-top: 30px;
        padding: 130px 0;
    }
    &__bg {
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        @media (min-width:992px) {
            width: 50%;
        }
       img{   
            width: 100%;
            height: 100%;
            object-fit: cover;
       }

    }
    &::after{
       position: absolute;
       content: "";
       background: rgba(34, 45, 57,0.8);
       width: 100%;
       height: 100%; 
       z-index: -1;
       @media (min-width:992px) {
           display: none;
       }
    }
    .account-form{
        .section-content-block{
            margin-bottom: 30px;
            @media (min-width:992px) {
                margin-bottom: 50px;
            }
            .title{
                @media (max-width:992px) {
                    color: var(--bs-white) !important;
                }
            }
            p{
                @media (max-width:992px) {
                    color: var(--bs-white) !important;
                }  
            }
        }
        @media (min-width:992px) {
            margin-right: 40px;
        }
        @media (min-width:1200px) {
            margin-right: 70px;
        }
    }
}
