.cta-section{
   .background-image{
       background-position: top center;
       background-size: cover;
       background-repeat: no-repeat;
    padding: 43px 0 60px;
    @media (min-width:575px) {
        padding: 63px 0 80px;
    }
    @media (min-width:768px) {
        padding: 83px 0 100px;
    }
    @media (min-width:992px) {
        padding: 103px 0 120px;
    }
    @media (min-width:1200px) {
        padding: 174px 0 174px;
    }
   }
   .cta-content{
       .title{
           margin-bottom: 18px;
       }
       .btn{
           margin-top: 36px;
       }
   }
}
