.brand-section-03{
    padding: 28px 0 60px;
    @media (min-width:575px) {
        padding: 35px 0 80px;
    }
    @media (min-width:922px) {
        padding: 60px 0 130px;
    }
    &__title{
        margin-bottom: 30px;
        @media (min-width:922px) {
            margin-bottom: 60px;
        }
        h6{
            text-align: center;
            font-size: 20px;
            font-weight: 600;
              line-height: 1.2;
              @media (min-width:992px) {
                  font-size: 24px;
              } 
           }
    }
}
