.content-section-03{
    padding: 30px 0 60px;
    @media (min-width:575px) {
        padding: 40px 0 80px;
    }
    @media (min-width:992px) {
        padding: 60px 0 130px;
    }
    &__content{
        .title{
            margin-bottom: 20px;
            @media (min-width:768px) {
                margin-bottom: 25px;
            }
        } 
        &--list{
            margin-top: 25px;
            margin-bottom: 30px;
            @media (min-width:992px) {
                margin-bottom: 40px;
            }
        }
     }
     &__image-group{
        margin-bottom: 30px;
        @media (min-width:992px) {
            margin-bottom: 0;
        }
        @media (min-width:1200px) {
        margin-right: 70px;
        }
     }
}
