.footer-section-03{
    padding: 60px 0;
    @media (min-width:575px) {
        padding: 80px 0;  
    }
    @media (min-width:992px) {
        padding: 260px 0 130px;  
    }
    &__wrapper{
        @media (min-width:480px) {
            margin-bottom: 35px;
        }
        @media (min-width:992px) {
            margin-bottom: 0px;
        }
        .logo{
            margin-bottom: 19px;
        }
        .text{
            p{
            font-weight: 500;
            font-size: 16px;
            line-height: 1.555555555555556;
            @media (min-width:575px) {
                font-size: 18px;
            }
            }
        }
        &--button-group{
            margin-top: 10px;
            @media (min-width:575px) {
                margin-top: 20px;
            }
            .text{
                margin-bottom: 10px;
                @media (min-width:575px) {
                    margin-bottom: 20px;
                }
                h6{
                    line-height: 1.2;
                    font-size: 16px;
                    font-weight: 600;
                    @media (min-width:575px) {
                        font-size: 18px;
                    }
                }
            }
            .button-group{
                margin: 0 -5px;
                .btn{
                        svg{
                        path{
                            fill: white;
                            transition: .3s;
                        }
                    }
                    &:hover{
                        color: var(--bs-primary);
                        border-color: var(--bs-primary);
                        svg{
                        path{
                            fill: var(--bs-primary);
                            stroke: var(--bs-primary);
                        }
                    }
                    }
                }
                a{
                    width: 187px;
                    padding: 0;
                    height: 55px;
                    margin:5px;
                }
            }
        }
    }
    &__widget{
        h6{
            font-weight: 600;
            padding-bottom: 20px;
            font-size: 20px;
            line-height: 1.166666666666667;
            color: var(--bs-black);
            @media (min-width:992px) {
                padding-bottom: 28px;
                font-size: 24px;
            }
        }
        ul{
            li{
                margin-bottom: 10px;
                a{
                    font-size: 16px;
                    font-weight: 500;
                    color: var(--bs-gray);
                    transition: .3s;
                    line-height: 1.555555555555556;
                    @media (min-width:575px) {
                        font-size: 18px;
                    }
                    &:hover{
                        color: var(--bs-primary);
                    }
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
    &__newsletter{
        h6{
            font-weight: 600;
            padding-bottom: 16px;
            font-size: 20px;
            line-height: 1.166666666666667;
            color: var(--bs-black);
            @media (min-width:992px) {
                padding-bottom: 28px;
                font-size: 24px;
            }
        } 
        p{
            font-size: 16px;
            font-weight: 500;
            color: var(--bs-gray);
            transition: .3s;
            line-height: 1.555555555555556;
            @media (min-width:575px) {
                font-size: 18px;
            }
        }
        &--form{
            margin-top: 25px;
            .form-group{
                position: relative;
                .form-control{
                    font-size: 16px;
                    padding-left: 60px;
                    padding-right: 20px;
                    font-weight: 500;
                    color: var(--bs-gray);
                    transition: .3s;
                    line-height: 1.555555555555556;
                    &::placeholder{
                        color: var(--bs-gray);
                    }
                    @media (min-width:575px) {
                        font-size: 18px;
                    }
                }
                .icon{
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    img{
                        display: block;
                        margin-left: 25px;
                    }
                }
            }
            .btn{
                margin-top: 15px;
               &:hover{
                   border-color: var(--bs-primary);
                   color: var(--bs-primary);
                   svg{
                       path{
                           fill: var(--bs-primary);
                           stroke: var(--bs-primary);
                       }
                   }
               } 
            }
        }
    }
    .widget-01{
        @media (max-width:480px) {
            margin: 35px 0;
        }
        @media (min-width:1200px) {
           margin-left: 55px; 
        }
        @media (min-width:1400px) {
           margin-left: 65px; 
        }
    }
    .widget-02{
        @media (max-width:480px) {
            margin-bottom: 35px;
        }
        @media (min-width:1200px) {
            margin-left: 65px;
        }
        @media (min-width:1400px) {
            margin-left: 88px;
        }
    }
}
.copyright-block-01{
    
&--modifi-02{
    background: var(--bs-white-lilac) !important;
    .copyright-block-01__wrapper{
        border-top: 1px solid #DEE7EE;
    }
    .copyright-block-01__social{
        li{
            a{
                color: var(--bs-gray);
                &:hover{
                    color: var(--bs-primary);
                }
            }
        }
    }
}
}
