.pricing-section-01{
    padding:60px 0;
    @media (min-width:575px) {
        padding:80px 0;
    }
    @media (min-width:992px) {
        padding:130px 0;
    }
    .section-title-block{
        margin-bottom: 35px;
        @media (min-width:992px) {
            margin-bottom: 70px;
        }
    }
    &__wrapper{
        @media (min-width:1400px) {
            background: var(--bs-white-lilac);
        }
        .pricingtable {
            @media (max-width:1400px) {
                background: var(--bs-white-lilac);
            }
              border-radius: 3px;
              transition: .3s;
              padding: 40px;
              padding-top: 47px;
            $P : &;
            .js-yearlypricing {
              display: none;
            }
            .price-head{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 30px;
                &__text{
                    h6{
                        transition: .3s;
                        line-height: 1.4;
                        font-size: 24px;
                        font-weight: 600;
                        color: var(--bs-black); 
                        @media (min-width:480px) {
                            font-size: 30px;
                        }
                    }
                }
                &__badge{
                .badge{
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    border-radius: 3px;
                    padding: 8px;
                    }
                }
            }
            ul {
              position: relative;
              li {
                  transition: .3s;
                display: flex;
                line-height: 1.555555555555556;
                font-weight: 500;
                padding: 10px 0;
                font-size: 16px;
                @media (min-width:480px) {
                    font-size: 18px;
                }
                &:first-child{
                    padding-top: 0;
                }
                svg{
                    path{
                        stroke: var(--bs-secondary);
                    }
                    display: block;
                    margin-top: 6px;
                    margin-right: 10px;
                }
                &.disable {
                  color: var(--bs-gray) !important;
                  svg{
                    path{
                        stroke: var(--bs-gray) !important;
                    }
                }
                }
              }
            }
            &__highlight {
                align-items: baseline;
                line-height: 1.555555555555556;
                font-weight: 500;
                font-size: 16px;
                padding: 0 !important;
                padding-top: 18px !important;
                padding-bottom: 25px !important;
                color: var(--bs-gray);
                @media (min-width:480px) {
                    font-size: 18px;
                }
                span{
                    padding-left: 5px;
                   line-height: 1.4;
                   font-size: 24px;
                   font-weight: 600;
                   transition: .3s;
                   color: var(--bs-black); 
                   @media (min-width:480px) {
                       font-size: 30px;
                   }
                }
            }
            &__btn {
                padding: 0 !important;
              .btn{
                  svg{
                      margin-top: 0;
                  }
              }
            }
            &.active,
            &:hover{
                @media (min-width:1400px) {
                    transform: translateY(-40px);
                }
                background: var(--bs-black);
                cursor: default;
                .price-head{
                    &__text{
                        h6{
                            color: var(--bs-white); 
                        }
                    }
                }
                ul{
                    li{
                        color: white;
                        span{
                            color: white;
                        }
                    }
                }
                .pricingtable__btn{
                    .btn{
                        background: var(--bs-primary);
                        border-color: var(--bs-primary);
                        color: white;
                        svg{
                            path{
                                stroke: white !important;
                            }
                        }
                    }
                }
            }
          }
        }
        .slideToggle{
          display: flex;
          justify-content: center;
          margin-bottom: 35px;
          @media (min-width:992px) {
              margin-bottom: 90px;
          }
          i {
            margin: 0 15px;
          }
        }
        .form-switch {
          align-items: center;
          display: flex;
          cursor: pointer;
          -webkit-tap-highlight-color: transparent;
          justify-content: space-between;
          margin-bottom: 20px;
          padding: 0;
          span{
            font-weight: 500;
            font-size: 16px;
            @media (min-width:480px) {
                font-size: 18px;
            }  
          }
        }
        .form-switch i {
          position: relative;
          display: inline-block;
          width: 45px;
          height: 24px;
          border: 2px solid #008AFF;
          border-radius: 15px;
          transition: all 0.3s linear;
        }
        .form-switch i::after {
          content: "";
          position: absolute;
          left: 0;
          width: 16px;
          height: 16px;
          background-color: #008AFF;
          border-radius: 15px;
          transform: translate3d(4px, 2px, 0);
          transition: all 0.2s ease-in-out;
        }
        .form-switch input { display: none; }
        .form-switch input:checked + i::after { transform: translate3d(21px, 2px, 0); }
}
