{% macro render(args) %}
    <div class="about-section-05 bg-white-lilac">
        <div class="about-section-05__rectangle">
            <img src="./image/l-5/rectangle-2.png" alt="rectangle" class="w-100">
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-5 col-xs-10">
                    <div class="about-section-05__image-group">
                        <img src="./image/l-5/about.png" alt="about" class="w-100">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7 col-xs-10">
                    <div class="about-section-05__content section-content-block">
                        <h6 class="subtitle mb-10 text-primary">About This Course</h6>
                        <h2 class="titel">Learn To Build Complete Design System In 8 Weeks</h2>
                        <div class="about-section-05__content--list">
                            <div class="content-list-03">
                                <h6 class="short-title">What You Will Learn From This Course?</h6>
                                <ul>
                                    <li>
                                        <span>
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="10" cy="10" r="10" fill="#36CD77"/>
                                            <path d="M13.3337 7.5L8.75033 12.0833L6.66699 10" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                        </span>
                                        Create mobile app designs from scratch
                                    </li>
                                    <li>
                                        <span>
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="10" cy="10" r="10" fill="#36CD77"/>
                                            <path d="M13.3337 7.5L8.75033 12.0833L6.66699 10" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                        </span>
                                        Create wireframe designs for any digital project
                                    </li>
                                    <li>
                                        <span>
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="10" cy="10" r="10" fill="#36CD77"/>
                                            <path d="M13.3337 7.5L8.75033 12.0833L6.66699 10" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                        </span>
                                        Understand the differences between designing for iOS and Android
                                    </li>
                                    <li>
                                        <span>
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="10" cy="10" r="10" fill="#36CD77"/>
                                            <path d="M13.3337 7.5L8.75033 12.0833L6.66699 10" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                        </span>
                                        Create mockups using Sketch, Animated Prototypes and other tools
                                    </li>
                                    <li>
                                        <span>
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="10" cy="10" r="10" fill="#36CD77"/>
                                            <path d="M13.3337 7.5L8.75033 12.0833L6.66699 10" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                        </span>
                                        Start a new career as a UI/UX designer
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="about-section-05__content--widget-list">
                            <div class="about-wdidget-02">
                                <h6 class="short-title">This Course Includes:</h6>
                                <ul>
                                    <li>
                                        <span>
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M16.667 2.5H3.33366C2.41318 2.5 1.66699 3.24619 1.66699 4.16667V12.5C1.66699 13.4205 2.41318 14.1667 3.33366 14.1667H16.667C17.5875 14.1667 18.3337 13.4205 18.3337 12.5V4.16667C18.3337 3.24619 17.5875 2.5 16.667 2.5Z" stroke="#36CD77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M6.66699 17.5H13.3337" stroke="#36CD77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M10 14.1667V17.5001" stroke="#36CD77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                        </span>
                                        3 hours on-demand video
                                    </li>
                                    <li>
                                        <span>
                                            <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M7.66602 14.1665L10.9993 17.4998L14.3327 14.1665" stroke="#36CD77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                <path d="M11 10V17.5" stroke="#36CD77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                <path d="M18.4003 15.0749C19.1248 14.5655 19.6681 13.8384 19.9514 12.9992C20.2347 12.1601 20.2431 11.2525 19.9756 10.4081C19.7081 9.5638 19.1785 8.82669 18.4637 8.30375C17.7489 7.7808 16.886 7.49925 16.0003 7.49994H14.9503C14.6997 6.52317 14.2307 5.61598 13.5787 4.84668C12.9268 4.07737 12.1088 3.46599 11.1863 3.05857C10.2639 2.65115 9.26101 2.4583 8.25325 2.49454C7.24548 2.53078 6.25907 2.79517 5.36827 3.2678C4.47747 3.74043 3.7055 4.40898 3.11047 5.22313C2.51544 6.03729 2.11285 6.97582 1.93303 7.96807C1.7532 8.96032 1.80082 9.98044 2.07229 10.9516C2.34377 11.9228 2.83203 12.8198 3.50031 13.5749" stroke="#36CD77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>                                         
                                        </span>
                                        1 downloadable resource
                                    </li>
                                    <li>
                                        <span>
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M15.8333 9.16675H4.16667C3.24619 9.16675 2.5 9.91294 2.5 10.8334V16.6667C2.5 17.5872 3.24619 18.3334 4.16667 18.3334H15.8333C16.7538 18.3334 17.5 17.5872 17.5 16.6667V10.8334C17.5 9.91294 16.7538 9.16675 15.8333 9.16675Z" stroke="#36CD77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                <path d="M5.83301 9.16655V5.83322C5.83197 4.79992 6.21491 3.80311 6.90749 3.03627C7.60007 2.26944 8.55287 1.7873 9.58093 1.68346C10.609 1.57961 11.639 1.86147 12.4709 2.47431C13.3028 3.08715 13.8774 3.98726 14.083 4.99988" stroke="#36CD77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>                                          
                                        </span>
                                        Full lifetime access
                                    </li>
                                    <li>
                                        <span>
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M14.167 1.66675H5.83366C4.91318 1.66675 4.16699 2.41294 4.16699 3.33341V16.6667C4.16699 17.5872 4.91318 18.3334 5.83366 18.3334H14.167C15.0875 18.3334 15.8337 17.5872 15.8337 16.6667V3.33341C15.8337 2.41294 15.0875 1.66675 14.167 1.66675Z" stroke="#36CD77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                <path d="M9 15H11" stroke="#36CD77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>                                                
                                        </span>
                                        Access on mobile and TV
                                    </li>
                                    <li>
                                        <span>
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_223_5254)">
                                            <path d="M10.0003 12.4999C13.222 12.4999 15.8337 9.88825 15.8337 6.66659C15.8337 3.44492 13.222 0.833252 10.0003 0.833252C6.77866 0.833252 4.16699 3.44492 4.16699 6.66659C4.16699 9.88825 6.77866 12.4999 10.0003 12.4999Z" stroke="#36CD77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M6.84134 11.575L5.83301 19.1666L9.99967 16.6666L14.1663 19.1666L13.158 11.5667" stroke="#36CD77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            </g>
                                            <defs>
                                            <clipPath id="clip0_223_5254">
                                            <rect width="20" height="20" fill="white"/>
                                            </clipPath>
                                            </defs>
                                            </svg>
                                        </span>
                                        Certificate of completion
                                    </li>
                                    <li>
                                        <span>
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M3.33301 16.2501C3.33301 15.6975 3.5525 15.1676 3.9432 14.7769C4.3339 14.3862 4.86381 14.1667 5.41634 14.1667H16.6663" stroke="#36CD77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                <path d="M5.41634 1.66675H16.6663V18.3334H5.41634C4.86381 18.3334 4.3339 18.1139 3.9432 17.7232C3.5525 17.3325 3.33301 16.8026 3.33301 16.2501V3.75008C3.33301 3.19755 3.5525 2.66764 3.9432 2.27694C4.3339 1.88624 4.86381 1.66675 5.41634 1.66675V1.66675Z" stroke="#36CD77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>                                                
                                        </span>
                                        14 useful articles
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
