{% macro render(args) %}
    <div class="content-section-06 bg-white-lilac">
        <div class="container">
            <div class="row">
                <div class="section-title-block text-center">
                    <h6 class="subtitle text-primary mb-10">Course content</h6>
                    <h2 class="title">This Course Cover All The Major <br class="d-none d-sm-block"> Aspects of User Experience Design</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6 col-sm-10">
                    <div class="content-section-06__card">
                        <div class="course-card">
                            <div class="course-card__top">
                                <img src="./image/l-5/course-img.png" alt="course-img" class="w-100">
                                <div class="video-btn">
                                    <a href="https://www.youtube.com/watch?v=TBQ_HkNZDCM" data-fancybox class="video-btn-two">
                                        <svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 1.72149C0 0.540157 1.30219 -0.177567 2.30099 0.453257L16.992 9.73177C17.924 10.3204 17.924 11.6796 16.992 12.2682L2.30099 21.5467C1.30218 22.1776 0 21.4598 0 20.2785V1.72149Z" fill="white"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            <div class="course-card__bottom">
                                <h6>Become a Qualified UX Designer</h6>
                                <p>Learn user experience fundamental and master the design and process with a user-centered approach. This UX Design Course has been design  fully you with all the tools and methodologies you need to succeed as a UX designer. way I’ve learned any creative endeavor: cold, hard analysis. And shameless copying of what works. I’ve worked 10 hours on a UI project.</p>
                                <a href="#" class="btn w-100 btn-secondary">Start Learning Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-10">
                    <div class="content-section-06__accordion">
                        <div class="accordion-02" id="accordionExample">
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <span class="content">
                                        <span class="text d-block">Welcome and Introduction</span>
                                        <span class="text d-block">7 Lecture</span>
                                    </span>
                                </button>
                              </h2>
                              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="class-list">
                                        <li><a href="#">
                                            <span class="text-wrapper">
                                                <span class="icon">
                                                    <svg class="d-block" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <circle cx="10" cy="10" r="10" fill="#8492A7"/>
                                                    <path d="M13.542 9.80278L7.50033 13.7721L7.50033 5.8335L13.542 9.80278Z" fill="white"/>
                                                    </svg>
                                                    </span>
                                                    <span class="text">
                                                        0.1: Introduction to the App Design Course
                                                    </span>
                                            </span>
                                            <span class="time">
                                                2 hrs
                                            </span>
                                        </a></li>
                                        <li><a href="#">
                                            <span class="text-wrapper">
                                                <span class="icon">
                                                    <svg class="d-block" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <circle cx="10" cy="10" r="10" fill="#8492A7"/>
                                                    <path d="M13.542 9.80278L7.50033 13.7721L7.50033 5.8335L13.542 9.80278Z" fill="white"/>
                                                    </svg>
                                                    </span>
                                                    <span class="text">
                                                        0.2: How to Get All The Free Stuff
                                                    </span>
                                            </span>
                                            <span class="time">
                                                2 hrs
                                            </span>
                                        </a></li>
                                        <li><a href="#">
                                            <span class="text-wrapper">
                                                <span class="icon">
                                                    <svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M11 1H3C2.46957 1 1.96086 1.21071 1.58579 1.58579C1.21071 1.96086 1 2.46957 1 3V19C1 19.5304 1.21071 20.0391 1.58579 20.4142C1.96086 20.7893 2.46957 21 3 21H15C15.5304 21 16.0391 20.7893 16.4142 20.4142C16.7893 20.0391 17 19.5304 17 19V7L11 1Z" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M10.999 1V7H16.999" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M12.999 12H4.99902" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M12.999 16H4.99902" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M6.99902 8H5.99902H4.99902" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>
                                                    </span>
                                                    <span class="text">
                                                        0.3: Download Your Massive Bundle Here
                                                    </span>
                                            </span>
                                            <span class="time">
                                                2 hrs
                                            </span>
                                        </a></li>
                                        <li><a href="#">
                                            <span class="text-wrapper">
                                                <span class="icon">
                                                    <svg class="d-block" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <circle cx="10" cy="10" r="10" fill="#8492A7"/>
                                                    <path d="M13.542 9.80278L7.50033 13.7721L7.50033 5.8335L13.542 9.80278Z" fill="white"/>
                                                    </svg>
                                                    </span>
                                                    <span class="text">
                                                        0.4: Meet Your Peers Online in Our Forms 
                                                    </span>
                                            </span>
                                            <span class="time">
                                                2 hrs
                                            </span>
                                        </a></li>
                                        <li><a href="#">
                                            <span class="text-wrapper">
                                                <span class="icon">
                                                    <svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M11 1H3C2.46957 1 1.96086 1.21071 1.58579 1.58579C1.21071 1.96086 1 2.46957 1 3V19C1 19.5304 1.21071 20.0391 1.58579 20.4142C1.96086 20.7893 2.46957 21 3 21H15C15.5304 21 16.0391 20.7893 16.4142 20.4142C16.7893 20.0391 17 19.5304 17 19V7L11 1Z" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M10.999 1V7H16.999" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M12.999 12H4.99902" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M12.999 16H4.99902" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M6.99902 8H5.99902H4.99902" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>
                                                    </span>
                                                    <span class="text">
                                                        0.5: Why Design is Important For An App
                                                    </span>
                                            </span>
                                            <span class="time">
                                                2 hrs
                                            </span>
                                        </a></li>
                                        <li><a href="#">
                                            <span class="text-wrapper">
                                                <span class="icon">
                                                    <svg class="d-block" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <circle cx="10" cy="10" r="10" fill="#8492A7"/>
                                                    <path d="M13.542 9.80278L7.50033 13.7721L7.50033 5.8335L13.542 9.80278Z" fill="white"/>
                                                    </svg>
                                                    </span>
                                                    <span class="text">
                                                        0.1: Designer Vs Non-Designer Thinking
                                                    </span>
                                            </span>
                                            <span class="time">
                                                2 hrs
                                            </span>
                                        </a></li>
                                    </ul>
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <span class="content">
                                        <span class="text d-block">Color Theory</span>
                                        <span class="text d-block">5 Lecture</span>
                                    </span>
                                </button>
                              </h2>
                              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="class-list">
                                        <li><a href="#">
                                            <span class="text-wrapper">
                                                <span class="icon">
                                                    <svg class="d-block" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <circle cx="10" cy="10" r="10" fill="#8492A7"/>
                                                    <path d="M13.542 9.80278L7.50033 13.7721L7.50033 5.8335L13.542 9.80278Z" fill="white"/>
                                                    </svg>
                                                    </span>
                                                    <span class="text">
                                                        0.1: Introduction to the App Design Course
                                                    </span>
                                            </span>
                                            <span class="time">
                                                2 hrs
                                            </span>
                                        </a></li>
                                        <li><a href="#">
                                            <span class="text-wrapper">
                                                <span class="icon">
                                                    <svg class="d-block" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <circle cx="10" cy="10" r="10" fill="#8492A7"/>
                                                    <path d="M13.542 9.80278L7.50033 13.7721L7.50033 5.8335L13.542 9.80278Z" fill="white"/>
                                                    </svg>
                                                    </span>
                                                    <span class="text">
                                                        0.2: How to Get All The Free Stuff
                                                    </span>
                                            </span>
                                            <span class="time">
                                                2 hrs
                                            </span>
                                        </a></li>
                                        <li><a href="#">
                                            <span class="text-wrapper">
                                                <span class="icon">
                                                    <svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M11 1H3C2.46957 1 1.96086 1.21071 1.58579 1.58579C1.21071 1.96086 1 2.46957 1 3V19C1 19.5304 1.21071 20.0391 1.58579 20.4142C1.96086 20.7893 2.46957 21 3 21H15C15.5304 21 16.0391 20.7893 16.4142 20.4142C16.7893 20.0391 17 19.5304 17 19V7L11 1Z" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M10.999 1V7H16.999" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M12.999 12H4.99902" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M12.999 16H4.99902" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M6.99902 8H5.99902H4.99902" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>
                                                    </span>
                                                    <span class="text">
                                                        0.3: Download Your Massive Bundle Here
                                                    </span>
                                            </span>
                                            <span class="time">
                                                2 hrs
                                            </span>
                                        </a></li>
                                        <li><a href="#">
                                            <span class="text-wrapper">
                                                <span class="icon">
                                                    <svg class="d-block" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <circle cx="10" cy="10" r="10" fill="#8492A7"/>
                                                    <path d="M13.542 9.80278L7.50033 13.7721L7.50033 5.8335L13.542 9.80278Z" fill="white"/>
                                                    </svg>
                                                    </span>
                                                    <span class="text">
                                                        0.4: Meet Your Peers Online in Our Forms 
                                                    </span>
                                            </span>
                                            <span class="time">
                                                2 hrs
                                            </span>
                                        </a></li>
                                        <li><a href="#">
                                            <span class="text-wrapper">
                                                <span class="icon">
                                                    <svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M11 1H3C2.46957 1 1.96086 1.21071 1.58579 1.58579C1.21071 1.96086 1 2.46957 1 3V19C1 19.5304 1.21071 20.0391 1.58579 20.4142C1.96086 20.7893 2.46957 21 3 21H15C15.5304 21 16.0391 20.7893 16.4142 20.4142C16.7893 20.0391 17 19.5304 17 19V7L11 1Z" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M10.999 1V7H16.999" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M12.999 12H4.99902" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M12.999 16H4.99902" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M6.99902 8H5.99902H4.99902" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>
                                                    </span>
                                                    <span class="text">
                                                        0.5: Why Design is Important For An App
                                                    </span>
                                            </span>
                                            <span class="time">
                                                2 hrs
                                            </span>
                                        </a></li>
                                        <li><a href="#">
                                            <span class="text-wrapper">
                                                <span class="icon">
                                                    <svg class="d-block" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <circle cx="10" cy="10" r="10" fill="#8492A7"/>
                                                    <path d="M13.542 9.80278L7.50033 13.7721L7.50033 5.8335L13.542 9.80278Z" fill="white"/>
                                                    </svg>
                                                    </span>
                                                    <span class="text">
                                                        0.1: Designer Vs Non-Designer Thinking
                                                    </span>
                                            </span>
                                            <span class="time">
                                                2 hrs
                                            </span>
                                        </a></li>
                                    </ul>
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <span class="content">
                                        <span class="text d-block">Typography & Spacing</span>
                                        <span class="text d-block">5 Lecture</span>
                                    </span>
                                </button>
                              </h2>
                              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="class-list">
                                        <li><a href="#">
                                            <span class="text-wrapper">
                                                <span class="icon">
                                                    <svg class="d-block" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <circle cx="10" cy="10" r="10" fill="#8492A7"/>
                                                    <path d="M13.542 9.80278L7.50033 13.7721L7.50033 5.8335L13.542 9.80278Z" fill="white"/>
                                                    </svg>
                                                    </span>
                                                    <span class="text">
                                                        0.1: Introduction to the App Design Course
                                                    </span>
                                            </span>
                                            <span class="time">
                                                2 hrs
                                            </span>
                                        </a></li>
                                        <li><a href="#">
                                            <span class="text-wrapper">
                                                <span class="icon">
                                                    <svg class="d-block" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <circle cx="10" cy="10" r="10" fill="#8492A7"/>
                                                    <path d="M13.542 9.80278L7.50033 13.7721L7.50033 5.8335L13.542 9.80278Z" fill="white"/>
                                                    </svg>
                                                    </span>
                                                    <span class="text">
                                                        0.2: How to Get All The Free Stuff
                                                    </span>
                                            </span>
                                            <span class="time">
                                                2 hrs
                                            </span>
                                        </a></li>
                                        <li><a href="#">
                                            <span class="text-wrapper">
                                                <span class="icon">
                                                    <svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M11 1H3C2.46957 1 1.96086 1.21071 1.58579 1.58579C1.21071 1.96086 1 2.46957 1 3V19C1 19.5304 1.21071 20.0391 1.58579 20.4142C1.96086 20.7893 2.46957 21 3 21H15C15.5304 21 16.0391 20.7893 16.4142 20.4142C16.7893 20.0391 17 19.5304 17 19V7L11 1Z" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M10.999 1V7H16.999" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M12.999 12H4.99902" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M12.999 16H4.99902" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M6.99902 8H5.99902H4.99902" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>
                                                    </span>
                                                    <span class="text">
                                                        0.3: Download Your Massive Bundle Here
                                                    </span>
                                            </span>
                                            <span class="time">
                                                2 hrs
                                            </span>
                                        </a></li>
                                        <li><a href="#">
                                            <span class="text-wrapper">
                                                <span class="icon">
                                                    <svg class="d-block" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <circle cx="10" cy="10" r="10" fill="#8492A7"/>
                                                    <path d="M13.542 9.80278L7.50033 13.7721L7.50033 5.8335L13.542 9.80278Z" fill="white"/>
                                                    </svg>
                                                    </span>
                                                    <span class="text">
                                                        0.4: Meet Your Peers Online in Our Forms 
                                                    </span>
                                            </span>
                                            <span class="time">
                                                2 hrs
                                            </span>
                                        </a></li>
                                        <li><a href="#">
                                            <span class="text-wrapper">
                                                <span class="icon">
                                                    <svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M11 1H3C2.46957 1 1.96086 1.21071 1.58579 1.58579C1.21071 1.96086 1 2.46957 1 3V19C1 19.5304 1.21071 20.0391 1.58579 20.4142C1.96086 20.7893 2.46957 21 3 21H15C15.5304 21 16.0391 20.7893 16.4142 20.4142C16.7893 20.0391 17 19.5304 17 19V7L11 1Z" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M10.999 1V7H16.999" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M12.999 12H4.99902" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M12.999 16H4.99902" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M6.99902 8H5.99902H4.99902" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>
                                                    </span>
                                                    <span class="text">
                                                        0.5: Why Design is Important For An App
                                                    </span>
                                            </span>
                                            <span class="time">
                                                2 hrs
                                            </span>
                                        </a></li>
                                        <li><a href="#">
                                            <span class="text-wrapper">
                                                <span class="icon">
                                                    <svg class="d-block" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <circle cx="10" cy="10" r="10" fill="#8492A7"/>
                                                    <path d="M13.542 9.80278L7.50033 13.7721L7.50033 5.8335L13.542 9.80278Z" fill="white"/>
                                                    </svg>
                                                    </span>
                                                    <span class="text">
                                                        0.1: Designer Vs Non-Designer Thinking
                                                    </span>
                                            </span>
                                            <span class="time">
                                                2 hrs
                                            </span>
                                        </a></li>
                                    </ul>
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    <span class="content">
                                        <span class="text d-block">User Interface Design for Mobile</span>
                                        <span class="text d-block">5 Lecture</span>
                                    </span>
                                </button>
                              </h2>
                              <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="class-list">
                                        <li><a href="#">
                                            <span class="text-wrapper">
                                                <span class="icon">
                                                    <svg class="d-block" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <circle cx="10" cy="10" r="10" fill="#8492A7"/>
                                                    <path d="M13.542 9.80278L7.50033 13.7721L7.50033 5.8335L13.542 9.80278Z" fill="white"/>
                                                    </svg>
                                                    </span>
                                                    <span class="text">
                                                        0.1: Introduction to the App Design Course
                                                    </span>
                                            </span>
                                            <span class="time">
                                                2 hrs
                                            </span>
                                        </a></li>
                                        <li><a href="#">
                                            <span class="text-wrapper">
                                                <span class="icon">
                                                    <svg class="d-block" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <circle cx="10" cy="10" r="10" fill="#8492A7"/>
                                                    <path d="M13.542 9.80278L7.50033 13.7721L7.50033 5.8335L13.542 9.80278Z" fill="white"/>
                                                    </svg>
                                                    </span>
                                                    <span class="text">
                                                        0.2: How to Get All The Free Stuff
                                                    </span>
                                            </span>
                                            <span class="time">
                                                2 hrs
                                            </span>
                                        </a></li>
                                        <li><a href="#">
                                            <span class="text-wrapper">
                                                <span class="icon">
                                                    <svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M11 1H3C2.46957 1 1.96086 1.21071 1.58579 1.58579C1.21071 1.96086 1 2.46957 1 3V19C1 19.5304 1.21071 20.0391 1.58579 20.4142C1.96086 20.7893 2.46957 21 3 21H15C15.5304 21 16.0391 20.7893 16.4142 20.4142C16.7893 20.0391 17 19.5304 17 19V7L11 1Z" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M10.999 1V7H16.999" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M12.999 12H4.99902" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M12.999 16H4.99902" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M6.99902 8H5.99902H4.99902" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>
                                                    </span>
                                                    <span class="text">
                                                        0.3: Download Your Massive Bundle Here
                                                    </span>
                                            </span>
                                            <span class="time">
                                                2 hrs
                                            </span>
                                        </a></li>
                                        <li><a href="#">
                                            <span class="text-wrapper">
                                                <span class="icon">
                                                    <svg class="d-block" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <circle cx="10" cy="10" r="10" fill="#8492A7"/>
                                                    <path d="M13.542 9.80278L7.50033 13.7721L7.50033 5.8335L13.542 9.80278Z" fill="white"/>
                                                    </svg>
                                                    </span>
                                                    <span class="text">
                                                        0.4: Meet Your Peers Online in Our Forms 
                                                    </span>
                                            </span>
                                            <span class="time">
                                                2 hrs
                                            </span>
                                        </a></li>
                                        <li><a href="#">
                                            <span class="text-wrapper">
                                                <span class="icon">
                                                    <svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M11 1H3C2.46957 1 1.96086 1.21071 1.58579 1.58579C1.21071 1.96086 1 2.46957 1 3V19C1 19.5304 1.21071 20.0391 1.58579 20.4142C1.96086 20.7893 2.46957 21 3 21H15C15.5304 21 16.0391 20.7893 16.4142 20.4142C16.7893 20.0391 17 19.5304 17 19V7L11 1Z" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M10.999 1V7H16.999" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M12.999 12H4.99902" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M12.999 16H4.99902" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M6.99902 8H5.99902H4.99902" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>
                                                    </span>
                                                    <span class="text">
                                                        0.5: Why Design is Important For An App
                                                    </span>
                                            </span>
                                            <span class="time">
                                                2 hrs
                                            </span>
                                        </a></li>
                                        <li><a href="#">
                                            <span class="text-wrapper">
                                                <span class="icon">
                                                    <svg class="d-block" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <circle cx="10" cy="10" r="10" fill="#8492A7"/>
                                                    <path d="M13.542 9.80278L7.50033 13.7721L7.50033 5.8335L13.542 9.80278Z" fill="white"/>
                                                    </svg>
                                                    </span>
                                                    <span class="text">
                                                        0.1: Designer Vs Non-Designer Thinking
                                                    </span>
                                            </span>
                                            <span class="time">
                                                2 hrs
                                            </span>
                                        </a></li>
                                    </ul>
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    <span class="content">
                                        <span class="text d-block">User Interface Design for Website</span>
                                        <span class="text d-block">5 Lecture</span>
                                    </span>
                                </button>
                              </h2>
                              <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="class-list">
                                        <li><a href="#">
                                            <span class="text-wrapper">
                                                <span class="icon">
                                                    <svg class="d-block" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <circle cx="10" cy="10" r="10" fill="#8492A7"/>
                                                    <path d="M13.542 9.80278L7.50033 13.7721L7.50033 5.8335L13.542 9.80278Z" fill="white"/>
                                                    </svg>
                                                    </span>
                                                    <span class="text">
                                                        0.1: Introduction to the App Design Course
                                                    </span>
                                            </span>
                                            <span class="time">
                                                2 hrs
                                            </span>
                                        </a></li>
                                        <li><a href="#">
                                            <span class="text-wrapper">
                                                <span class="icon">
                                                    <svg class="d-block" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <circle cx="10" cy="10" r="10" fill="#8492A7"/>
                                                    <path d="M13.542 9.80278L7.50033 13.7721L7.50033 5.8335L13.542 9.80278Z" fill="white"/>
                                                    </svg>
                                                    </span>
                                                    <span class="text">
                                                        0.2: How to Get All The Free Stuff
                                                    </span>
                                            </span>
                                            <span class="time">
                                                2 hrs
                                            </span>
                                        </a></li>
                                        <li><a href="#">
                                            <span class="text-wrapper">
                                                <span class="icon">
                                                    <svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M11 1H3C2.46957 1 1.96086 1.21071 1.58579 1.58579C1.21071 1.96086 1 2.46957 1 3V19C1 19.5304 1.21071 20.0391 1.58579 20.4142C1.96086 20.7893 2.46957 21 3 21H15C15.5304 21 16.0391 20.7893 16.4142 20.4142C16.7893 20.0391 17 19.5304 17 19V7L11 1Z" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M10.999 1V7H16.999" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M12.999 12H4.99902" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M12.999 16H4.99902" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M6.99902 8H5.99902H4.99902" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>
                                                    </span>
                                                    <span class="text">
                                                        0.3: Download Your Massive Bundle Here
                                                    </span>
                                            </span>
                                            <span class="time">
                                                2 hrs
                                            </span>
                                        </a></li>
                                        <li><a href="#">
                                            <span class="text-wrapper">
                                                <span class="icon">
                                                    <svg class="d-block" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <circle cx="10" cy="10" r="10" fill="#8492A7"/>
                                                    <path d="M13.542 9.80278L7.50033 13.7721L7.50033 5.8335L13.542 9.80278Z" fill="white"/>
                                                    </svg>
                                                    </span>
                                                    <span class="text">
                                                        0.4: Meet Your Peers Online in Our Forms 
                                                    </span>
                                            </span>
                                            <span class="time">
                                                2 hrs
                                            </span>
                                        </a></li>
                                        <li><a href="#">
                                            <span class="text-wrapper">
                                                <span class="icon">
                                                    <svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M11 1H3C2.46957 1 1.96086 1.21071 1.58579 1.58579C1.21071 1.96086 1 2.46957 1 3V19C1 19.5304 1.21071 20.0391 1.58579 20.4142C1.96086 20.7893 2.46957 21 3 21H15C15.5304 21 16.0391 20.7893 16.4142 20.4142C16.7893 20.0391 17 19.5304 17 19V7L11 1Z" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M10.999 1V7H16.999" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M12.999 12H4.99902" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M12.999 16H4.99902" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M6.99902 8H5.99902H4.99902" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>
                                                    </span>
                                                    <span class="text">
                                                        0.5: Why Design is Important For An App
                                                    </span>
                                            </span>
                                            <span class="time">
                                                2 hrs
                                            </span>
                                        </a></li>
                                        <li><a href="#">
                                            <span class="text-wrapper">
                                                <span class="icon">
                                                    <svg class="d-block" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <circle cx="10" cy="10" r="10" fill="#8492A7"/>
                                                    <path d="M13.542 9.80278L7.50033 13.7721L7.50033 5.8335L13.542 9.80278Z" fill="white"/>
                                                    </svg>
                                                    </span>
                                                    <span class="text">
                                                        0.1: Designer Vs Non-Designer Thinking
                                                    </span>
                                            </span>
                                            <span class="time">
                                                2 hrs
                                            </span>
                                        </a></li>
                                    </ul>
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="headingSix">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    <span class="content">
                                        <span class="text d-block">Resources</span>
                                        <span class="text d-block">5 Lecture</span>
                                    </span>
                                </button>
                              </h2>
                              <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="class-list">
                                        <li><a href="#">
                                            <span class="text-wrapper">
                                                <span class="icon">
                                                    <svg class="d-block" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <circle cx="10" cy="10" r="10" fill="#8492A7"/>
                                                    <path d="M13.542 9.80278L7.50033 13.7721L7.50033 5.8335L13.542 9.80278Z" fill="white"/>
                                                    </svg>
                                                    </span>
                                                    <span class="text">
                                                        0.1: Introduction to the App Design Course
                                                    </span>
                                            </span>
                                            <span class="time">
                                                2 hrs
                                            </span>
                                        </a></li>
                                        <li><a href="#">
                                            <span class="text-wrapper">
                                                <span class="icon">
                                                    <svg class="d-block" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <circle cx="10" cy="10" r="10" fill="#8492A7"/>
                                                    <path d="M13.542 9.80278L7.50033 13.7721L7.50033 5.8335L13.542 9.80278Z" fill="white"/>
                                                    </svg>
                                                    </span>
                                                    <span class="text">
                                                        0.2: How to Get All The Free Stuff
                                                    </span>
                                            </span>
                                            <span class="time">
                                                2 hrs
                                            </span>
                                        </a></li>
                                        <li><a href="#">
                                            <span class="text-wrapper">
                                                <span class="icon">
                                                    <svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M11 1H3C2.46957 1 1.96086 1.21071 1.58579 1.58579C1.21071 1.96086 1 2.46957 1 3V19C1 19.5304 1.21071 20.0391 1.58579 20.4142C1.96086 20.7893 2.46957 21 3 21H15C15.5304 21 16.0391 20.7893 16.4142 20.4142C16.7893 20.0391 17 19.5304 17 19V7L11 1Z" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M10.999 1V7H16.999" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M12.999 12H4.99902" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M12.999 16H4.99902" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M6.99902 8H5.99902H4.99902" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>
                                                    </span>
                                                    <span class="text">
                                                        0.3: Download Your Massive Bundle Here
                                                    </span>
                                            </span>
                                            <span class="time">
                                                2 hrs
                                            </span>
                                        </a></li>
                                        <li><a href="#">
                                            <span class="text-wrapper">
                                                <span class="icon">
                                                    <svg class="d-block" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <circle cx="10" cy="10" r="10" fill="#8492A7"/>
                                                    <path d="M13.542 9.80278L7.50033 13.7721L7.50033 5.8335L13.542 9.80278Z" fill="white"/>
                                                    </svg>
                                                    </span>
                                                    <span class="text">
                                                        0.4: Meet Your Peers Online in Our Forms 
                                                    </span>
                                            </span>
                                            <span class="time">
                                                2 hrs
                                            </span>
                                        </a></li>
                                        <li><a href="#">
                                            <span class="text-wrapper">
                                                <span class="icon">
                                                    <svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M11 1H3C2.46957 1 1.96086 1.21071 1.58579 1.58579C1.21071 1.96086 1 2.46957 1 3V19C1 19.5304 1.21071 20.0391 1.58579 20.4142C1.96086 20.7893 2.46957 21 3 21H15C15.5304 21 16.0391 20.7893 16.4142 20.4142C16.7893 20.0391 17 19.5304 17 19V7L11 1Z" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M10.999 1V7H16.999" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M12.999 12H4.99902" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M12.999 16H4.99902" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M6.99902 8H5.99902H4.99902" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>
                                                    </span>
                                                    <span class="text">
                                                        0.5: Why Design is Important For An App
                                                    </span>
                                            </span>
                                            <span class="time">
                                                2 hrs
                                            </span>
                                        </a></li>
                                        <li><a href="#">
                                            <span class="text-wrapper">
                                                <span class="icon">
                                                    <svg class="d-block" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <circle cx="10" cy="10" r="10" fill="#8492A7"/>
                                                    <path d="M13.542 9.80278L7.50033 13.7721L7.50033 5.8335L13.542 9.80278Z" fill="white"/>
                                                    </svg>
                                                    </span>
                                                    <span class="text">
                                                        0.1: Designer Vs Non-Designer Thinking
                                                    </span>
                                            </span>
                                            <span class="time">
                                                2 hrs
                                            </span>
                                        </a></li>
                                    </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
