{% macro render(args) %}
    <div class="faq-section-02">
        <div class="container">
            <div class="row">
                <div class="section-title-block text-center">
                    <h6 class="subtitle text-primary mb-10">Some Awesome Features</h6>
                    <h2 class="title">Why This Course Suitable For You?</h2>
                </div>
            </div>
            <div class="row faq-row">
                <div class="col-lg-6">
                    <div class="faq-card">
                        <h6>What is The Refund Policy?</h6>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="faq-card">
                        <h6>How Long Does It Take to Complete The Specialization?</h6>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="faq-card">
                        <h6>What is the refund policy?</h6>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="faq-card">
                        <h6>Is This Course Really 100% Online?</h6>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="faq-card">
                        <h6>Am I Getting a Certificate, After Finishing The Course? </h6>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="faq-card">
                        <h6>Do I Need To Take The Courses in a Specific Order?</h6>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
