{% macro render(args) %}
<div class="price-section-03 bg-white-lilac">
    <div class="container">
        <div class="row justify-content-center">
            <div class="section-title-block text-center">
                <h6 class="subtitle mb-10 text-primary">Pricing Table</h6>
                <h2 class="titel">Are You Ready to Start with <br class=" d-none d-xs-block">
                    Design League</h2>
            </div>
            <div class="col-xxl-10">
                <div class="table-responsive card-price-03">
                    <table class="table table-borderless text-center">
                        <thead>
                            <tr>
                                <th class="w-40">
                                    <div class="big-text text-start">
                                        <h6>Benifits</h6>
                                    </div>
                                </th>
                                <th class=" price-head">
                                    <div class="h4">Professional</div>
                                    <div class="price">$69<span>/Per Year</span></div>
                                    <a class="btn btn-primary" href="#">
                                        Purchase Now
                                        <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 13L7 7L1 1" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </a>
                                </th>
                                <th class="price-head">
                                    <div class="h4">Design League</div>
                                    <div class="price">$189<span>/Per Year</span></div>
                                    <a class="btn btn-secondary" href="#">
                                        Purchase Now
                                        <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 13L7 7L1 1" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="option text-start">Course Durations</td>
                                <td>4 Weeks</td>
                                <td>12 Weeks</td>
                            </tr>
                            <tr>
                                <td class="option text-start">Full Access to Content and Resources</td>
                                <td>6 Months Upon Enrollment</td>
                                <td>1 Year Upon Enrollment</td>
                            </tr>
                            <tr>
                                <td class="option text-start">Membership Linkedin Negotiation Group</td>
                                <td>
                                    
                                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="11" cy="11" r="11" fill="#36CD77"/>
                                    <path d="M15.333 8.25L9.83301 13.75L7.33301 11.25" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>

                                </td>
                                <td>
                                    
                                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="11" cy="11" r="11" fill="#36CD77"/>
                                    <path d="M15.333 8.25L9.83301 13.75L7.33301 11.25" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>

                                </td>
                            </tr>
                            <tr>
                                <td class="option text-start">Real Project Case Study</td>
                                <td>
                                    
                                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="11" cy="11" r="11" fill="#36CD77"/>
                                    <path d="M15.333 8.25L9.83301 13.75L7.33301 11.25" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>

                                </td>
                                <td>
                                    
                                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="11" cy="11" r="11" fill="#36CD77"/>
                                    <path d="M15.333 8.25L9.83301 13.75L7.33301 11.25" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>

                                </td>
                            </tr>
                            <tr>
                                <td class="option text-start">Download Premium Ux Resources</td>
                                <td>4 Months Membership</td>
                                <td>1 Year Membership</td>
                            </tr>
                            <tr>
                                <td class="option text-start">Get Design Inspirations & Advices</td>
                                <td>
                                    
                                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="11" cy="11" r="11" fill="#36CD77"/>
                                    <path d="M15.333 8.25L9.83301 13.75L7.33301 11.25" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>

                                </td>
                                <td>
                                    
                                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="11" cy="11" r="11" fill="#36CD77"/>
                                    <path d="M15.333 8.25L9.83301 13.75L7.33301 11.25" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>

                                </td>
                            </tr>
                            <tr>
                                <td class="option text-start">Support Durations</td>
                                <td>6 Months</td>
                                <td>Lifetime Support</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
