{% macro render(args) %}
    <div class="testimonial-section-06">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="testimonial-section-06__slider">
                        <div class="section-content-block">
                            <h6 class="subtitle mb-10 text-primary">Student’s Feedback</h6>
                            <h2 class="title">What Say Our Talented Students About Bestkit</h2>
                        </div>
                        <div class="testimonial-slider--06">
                            <div class="slide">
                                <div class="testimonial-card-06">
                                    <p class="text-dark">“ I expected to learn more than what was actually taught. I knew I wouldn't become a designer, but at least wanted to grasp some of the basics. The main topic (App design) was the poorest one: the instructor only mentioned pretty basic stuff about the between Android and iOS. ”</p>
                                    <div class="author-info">
                                        <h6>Michle Demetriou</h6>
                                        <p>CX & UX Consultant</p>
                                    </div>
                                </div>
                            </div>
                            <div class="slide">
                                <div class="testimonial-card-06">
                                    <p class="text-dark">“ I expected to learn more than what was actually taught. I knew I wouldn't become a designer, but at least wanted to grasp some of the basics. The main topic (App design) was the poorest one: the instructor only mentioned pretty basic stuff about the between Android and iOS. ”</p>
                                    <div class="author-info">
                                        <h6>Jesica Lirona</h6>
                                        <p>Web Developer</p>
                                    </div>
                                </div>
                            </div>
                            <div class="slide">
                                <div class="testimonial-card-06">
                                    <p class="text-dark">“ I expected to learn more than what was actually taught. I knew I wouldn't become a designer, but at least wanted to grasp some of the basics. The main topic (App design) was the poorest one: the instructor only mentioned pretty basic stuff about the between Android and iOS. ”</p>
                                    <div class="author-info">
                                        <h6>Jhon Smith</h6>
                                        <p>Front End Developer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-section-06__slider--buttons">
                            <div class="testimonial-slider--06__control-buttons">
                                <div class="btn-group">
                                    <button class="button button--prev">
                                        <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M19 5H1" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M5 9L1 5L5 1" stroke="#8492A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>    
                                    </button>
                                    <button class="button button--next">
                                            <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1 5H19" stroke="#EBF6FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M15 9L19 5L15 1" stroke="#EBF6FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>                                                                          
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonial-section-06__image-group">
                        <img src="./image/l-5/testimonial.png" alt="testimonial" class="w-100">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
