.brand-section-04{
    position: relative;
    padding-top: 60px;
    @media (min-width:575px) {
        padding-top: 80px;
    }
    @media (min-width:922px) {
        padding-top: 125px;
    }
    &__line{
        padding-bottom: 60px;
        border-bottom: 1px solid #DEE7EE;
        @media (min-width:575px) {
            padding-bottom: 80px;
        }
        @media (min-width:922px) {
            padding-bottom: 125px;
        }  
    }
    &__title{
        margin-bottom: 30px;
        @media (min-width:922px) {
            margin-bottom: 60px;
        }
    }
}
