.service-section-03{
    padding: 60px 0;
    @media (min-width:575px) {
        padding: 80px 0;
    }
    @media (min-width:992px) {
        padding: 125px 0 130px;
    }
    &__content{
        margin-bottom: 35px;
        @media (min-width:992px) {
            margin-bottom: 70px;
        }
    }
    &__card{
        .col-xl-5{
            &:nth-child(1){
                .card-service--02{
                    @media (min-width:1400px) {
                        margin-top: 40px;
                    }
                }
            }
            &:nth-child(3){
                .card-service--02{
                    @media (min-width:1400px) {
                        margin-top: 40px;
                    }
                }
            }
        } 
    }
}
