.testimonial-section-04{
    position: relative;
    padding: 60px 0;
    @media (min-width:575px) {
        padding: 80px 0;
    }
    @media (min-width:992px) {
        padding: 130px 0;
    }
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 60%;
        background: var(--bs-white-lilac);
        z-index: -1;
    }
    &__content{
        margin-bottom: 35px;
        @media (min-width:992px) {
            margin-bottom: 70px;
        }
    }
}
