{% macro SerciceCard(obj) %}
<div class="card card-service">
    <div class="card-image">
        <img src="{{obj.img}}" alt="card" class="mw-100">
    </div>
    <div class="card-body p-0">
        <h4 class="card-title">{{obj.title | safe}}</h4>
    </div>
</div>
{% endmacro %}
