
 <div class="preloader-wrapper" id="loader">
        <div class="loading">
            <div class="box box-1"></div>
            <div class="box box-2"></div>
            <div class="box box-3"></div>
            <div class="box box-4"></div>
        </div>
</div>