.footer-section-01{
    background: var(--bs-black);
    padding: 60px 0;
    @media (min-width:575px) {
        padding: 80px 0;
    }
    @media (min-width:992px) {
        padding: 130px 0;
    }
    .footer-section-block{
        .subtitle{
            font-size: 18px;
            font-weight: 600;
            line-height: 1.2;
            color: #ADB7C2;
            text-transform: uppercase;
          }
        .title{
            font-weight: 600;
            font-size: 38px;
            line-height: 1.310344827586207;
            @media (min-width:768px) {
                font-size: 42px;
            }
            @media (min-width:992px) {
                font-size: 46px;
            }
            @media (min-width:1400px) {
                font-size: 58px;
            }
        }
        a{
            margin-top: 25px;
            @media (min-width:992px) {
                margin-top: 50px;
            } 
        }
    }
}
.copyright-block-01{
    background: var(--bs-black);
    &__wrapper{
        border-top: 1px solid rgba(255, 255, 255,0.15);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 0;
        flex-direction: column;
        @media (min-width:575px) {
            flex-direction: row;
            justify-content: space-between;
        }
        @media (min-width:992px) {
            padding: 35px 0;
        }
    }
    &__social{
        margin: 0;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        @media (min-width:575px) {
            margin-bottom: 0;
        }
        li{
            margin-right: 25px;
            &:last-child{
                margin-right: 0;
            }
            a{
                color: var(--bs-white);
                transition: .3s;
                &:hover{
                    color: var(--bs-primary);
                }
            }
        }
    }
    &__content{
        p{
            font-size: 16px;
            font-weight: 500;
            line-height: 1.555555555555556;
            @media (min-width:575px) {
                font-size: 18px;
            }
        }
    }
}
