.preview-hero-section{
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 155px 0 120px;
    @media (min-width:480px) {
        padding-bottom: 165px;
    }
    @media (min-width:575px) {
        padding: 110px 0 225px;
        
    }
    @media (min-width:768px) {
        padding-bottom: 320px;
        
    }
    @media (min-width:992px) {
        padding: 200px 0 350px;
        
    }
    @media (min-width:1200px) {
        padding: 235px 0 400px;
    }
    @media (min-width:1400px) {
        padding-top: 250px;
        padding-bottom: 450px;
    }
    @media (min-width:1600px) {
        padding-bottom: 550px;
    }
    &::before{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background: rgba(34, 45, 57,0.75);
        z-index: -1;
    }
    &__content{
        .main-title{
            font-weight: 600;
            line-height: 1.310344827586207;
            font-size: 42px;
            padding-bottom: 10px;
            @media (min-width: 768px) {
                font-size: 52px;
            }
            @media (min-width: 1200px) {
                padding-bottom: 15px;
              font-size: 58px;
            }
        }
        .short-title{
            color: var(--bs-black);
            font-weight: 600;
            line-height: 1.5;
            font-size: 24px;
            padding-bottom: 20px;
            @media (min-width:575px) {
              font-size: 26px;
            }
            @media (min-width:992px) {
                padding-bottom: 25px;
                font-size: 30px;
              }
        }
        .text{
            font-weight: 500;
            line-height: 1.555555555555556;
            font-size: 16px;
            @media (min-width:575px) {
              font-size: 18px;
            }
        }
        .btn{
            text-shadow: 0px 1px 0px #fff;
            background-image: -webkit-linear-gradient(top, #ffffff, #cccccc);
            background-image: -moz-linear-gradient(top, #ffffff, #cccccc);
            background-image: -o-linear-gradient(top, #ffffff, #cccccc);
            background-image: linear-gradient(to bottom, #ffffff, #cccccc);
            -webkit-animation: white 1s infinite;
            -moz-animation: white 1s infinite;
            -o-animation: white 1s infinite;
            animation: white 1s infinite; 
            margin-top: 25px;
            @media (min-width:992px) {
                margin-top: 50px;
            }
            border-color: white;
            color: var(--bs-primary);
            background: white;
            svg{
                transition: .3s;
                stroke: var(--bs-primary);
                margin-left: 14px;
            }
            &:hover{
                background: transparent;
                color: white;
                svg{
                    stroke: white;
                }
            }
        }
    }
}
.preview-image-group{
    margin-top: -22%;
    z-index: 9;
    text-align: center;
    position: relative;
    img{
        box-shadow: 0px 10px 45px rgba(0, 0, 0, 0.05);
    }
}
@-moz-keyframes white {
    0%, 100% {
      -moz-box-shadow: 1px 0px 19px 4px rgba(255, 255, 255, 0.7), inset 0px 0px 10px rgba(255, 255, 255, 0.5);
      box-shadow: 1px 0px 19px 4px rgba(255, 255, 255, 0.7), inset 0px 0px 10px rgba(255, 255, 255, 0.5); }
  
    50% {
      -moz-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0), inset 0px 0px 0px rgba(255, 255, 255, 0);
      box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0), inset 0px 0px 0px rgba(255, 255, 255, 0); } }
  
  @-webkit-keyframes white {
    0%, 100% {
      -webkit-box-shadow: 1px 0px 19px 4px rgba(255, 255, 255, 0.7), inset 0px 0px 10px rgba(255, 255, 255, 0.5);
      box-shadow: 1px 0px 19px 4px rgba(255, 255, 255, 0.7), inset 0px 0px 10px rgba(255, 255, 255, 0.5); }
  
    50% {
      -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0), inset 0px 0px 0px rgba(255, 255, 255, 0);
      box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0), inset 0px 0px 0px rgba(255, 255, 255, 0); } }
  
  @-o-keyframes white {
    0%, 100% {
      box-shadow: 1px 0px 19px 4px rgba(255, 255, 255, 0.7), inset 0px 0px 10px rgba(255, 255, 255, 0.5); }
  
    50% {
      box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0), inset 0px 0px 0px rgba(255, 255, 255, 0); } }
  
  @keyframes white {
    0%, 100% {
      box-shadow: 1px 0px 7px 2px rgba(255, 255, 255, 0.7), inset 0px 0px 6px rgba(255, 255, 255, 0.5); }
  
    50% {
      box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0), inset 0px 0px 0px rgba(255, 255, 255, 0); } }
  