.feature-section-04{
    padding: 60px 0;
    overflow: hidden;
    @media (min-width:575px) {
        padding: 80px 0;
    }
    @media (min-width:992px) {
        padding: 130px 0;
    }
    &__image{
        margin-bottom: 35px;
        @media (min-width:992px) {
            margin-bottom: 0;
        }
        @media (min-width:1200px) {
            margin-right: 77px;
            margin-left: -20px;
        }
    }
    &__content{
        &--card{
            margin-top: 30px;
            @media (min-width:992px) {
                margin-top: 50px;
            }
        }
    }
}
