@use "../../abstracts/mixins" as *;
.hero-section-06{
    position: relative;
    padding: 60px 0;
    @media (min-width:575px) {
        padding: 80px 0;
    }
    @media (min-width:992px) {
        padding: 130px 0;
    }
    @media (min-width:1600px) {
        padding: 155px 0;
    }
    @media (min-width:1800px) {
        padding: 195px 0;
    }
    &__content{
        @media (max-width:992px) {
            text-align: center;
        }
        .subtitle{
            display: flex;
            align-items: center;
            @media (max-width:992px) {
                justify-content: center;
            }
            span{
                margin-right: 8px;
            }
        }
        .title{
            padding-bottom: 20px;
            @media (max-width:480px) {
                font-size: 36px;
            }
            @media (min-width:575px) {
                padding-bottom: 25px;
            }
        }
       &--button{
            display: flex;
            align-items: center;
            margin-top: 30px;
            @media (max-width:992px) {
                justify-content: center;
            }
            @media (min-width:992px) {
                margin-top: 50px;
            }
            .google-play{
                margin-right: 10px;
                @media (min-width:575px) {
                    margin-right: 20px;
                }
            }
           .google-play,.app-store{
               .rating{
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                align-items: center;
                margin: 0 -1.5px;
                margin-top: 25px;
                @media (min-width:575px) {
                    margin-top: 32px;
                }                
                li{
                    margin: 0 1.5px;
                    svg{
                        display: block;
                    }
                }
                &__text{
                    margin-left: 8px !important;
                    color: var(--bs-black);
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 22px;
                }
               }
           }
       } 
    }
    &__image-group{
        position: relative;
        position: absolute;
        bottom: 0;
        right:0;
        width: 52%;
        @media (min-width:1200px) {
            width: 62%;
        }
        @media (min-width:1400px) {
            width: 52%;
        }
        .icon-1{
            position: absolute;
            bottom: 35%;
            left: 8%;
            background: var(--bs-white);
            box-shadow: 0px 20px 50px rgba(181, 188, 194, 0.3);
            @include square(60px,5px);
            @include flexAllCenter;
            @media (min-width:1200px) {
                @include square(70px,5px);
            }
        }
        .icon-2{
            position: absolute;
            bottom: 71%;
            left: 20%;
            background: var(--bs-white);
            box-shadow: 0px 20px 50px rgba(181, 188, 194, 0.3);
            @include square(48px,5px);
            @include flexAllCenter;
        }
        .icon-3{
            position: absolute;
            bottom: 84%;
            left: 71%;        
            background: var(--bs-white);
            box-shadow: 0px 20px 50px rgba(181, 188, 194, 0.3);
            @include square(60px,5px);
            @include flexAllCenter;
            @media (min-width:1200px) {
                @include square(70px,5px);
            }
        }
        .icon-4{
            position: absolute;
            bottom: 40%;
            left: 69%;
            background: var(--bs-white);
            box-shadow: 0px 20px 50px rgba(181, 188, 194, 0.3);
            @include square(60px,5px);
            @include flexAllCenter;
            @media (min-width:1200px) {
                @include square(90px,5px);
            }
        }
    }
}
