.careers-details-contetn{
    padding-top: 86px;
    @media (min-width:575px) {
        padding-top: 106px;
    }
    @media (min-width:992px) {
        padding-top: 157px;
    }
    &__wrapper{
        border-bottom: 1px solid #DEE7EE;
        padding-bottom: 60px;
        @media (min-width:575px) {
            padding-bottom: 80px;
        }
        @media (min-width:992px) {
            padding-bottom: 130px;
        }
    }
    .job-details{
        @media (min-width:1200px) {
            padding-right: 67px;
        }
    }
    &__sidebar{
        @media (max-width:1200px) {
            margin-bottom: 35px;
        } 
    }
}
.job-details{
    &__top-info{
        border-bottom: 1px solid #DEE7EE;
        padding-bottom: 20px;
        margin-bottom: 30px;
        @media (min-width:992px) {
            padding-bottom: 40px;
            margin-bottom: 50px;
        }
        .back-btn{
            padding-bottom: 30px;
            @media (min-width:992px) {
                padding-bottom: 50px;
                
            }
            a{
                display: flex;
                align-items: center;
                font-weight: 600;
                color: var(--bs-primary);
                font-size: 16px;
                line-height: 1.277777777777778;
                @media (min-width:575px) {
                    font-size: 18px;
                }
                svg{
                    display: block;margin-right: 15px;
                }
            }
        }
        .section-title-block{
            @media (min-width:992px) {
                padding-bottom: 5px;
            }
        }
        .content-info{
            margin: 0 -7.5px;
            display: flex;
            flex-wrap: wrap;
            .info-btn{
              transition: .3s;
              margin:7.5px;
              display: inline-flex;
              align-items: center;
              padding: 10px 18px;
              border-radius: 3px;
              background: #EBF6FF;
              svg{
                display: block;
                margin-right: 12px;
              }
              P{
                white-space: nowrap;
                line-height: 1.302777777777778;
                font-weight: 500;
                color: var(--bs-black);
                font-size: 16px;
                @media (min-width:575px) {
                  font-size: 18px;
                }
              }
            }
          }
    }
    &__bottom-info{
        .title-block{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-bottom: 22px;
            @media (min-width:480px) {
                align-items: center;
                flex-direction: row;
                justify-content: space-between;
            }
            .title{
                font-size: 24px;
                font-weight: 600;
                line-height: 1.3;
                padding: 0 !important;
                @media (min-width:575px) {
                  font-size: 28px;
                }
                @media (min-width:992px) {
                  font-size: 30px;
                } 
            }
            .post-date{
                line-height: 1.302777777777778;
                font-weight: 600;
                font-size: 16px;
                padding-top: 10px;
                color: var(--bs-black);
                @media (min-width:480px) {
                    padding-top: 0;
                }
                @media (min-width:575px) {
                    font-size: 18px;
                }
                span{
                    color: var(--bs-gray);
                }
            }
        }
        .text-list{
            margin: 0;
            padding-left: 1.5rem;
            margin-top: 25px;
            @media (min-width:992px) {
                margin-top: 40px;
            }
            li{
               &:not(&:last-child){
                   padding-bottom: 5px;
               } 
            }
        }
        .content-one,.content-two{
            margin-bottom: 30px;
            @media (min-width:992px) {
                margin-bottom: 50px;
            }
        }
    }
}
