{% macro render(args) %}
{% import "components/_mixed.njk" as MixtComponent %}
{% import "components/cards.njk" as Card %}

{% set cardData =[
        {
        id:1,
        img:"./image/blog/blog-1.png",
        date:"<img alt='calendar' src='./image/svg/calendar.svg'/> March 18, 2021",
        time:"<img alt='clock' src='./image/svg/clock.svg'/> 3 min read",
        title:"3 Interviewing Tips That Can Help You Find Right Candidate",
        text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi amet, lorem tristique In laoreet morbi morbi lorem maecenas."
        },
        {
        id:2,
        img:"./image/blog/blog-2.png",
        date:"<img alt='calendar' src='./image/svg/calendar.svg'/> March 18, 2021",
        time:"<img alt='clock' src='./image/svg/clock.svg'/> 3 min read",
        title:"How to Easily Manage with Designer as a Web Based Developer",
        text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi amet, lorem tristique In laoreet morbi morbi lorem maecenas."
        },
        {
        id:3,
        img:"./image/blog/blog-3.png",
        date:"<img alt='calendar' src='./image/svg/calendar.svg'/> March 18, 2021",
        time:"<img alt='clock' src='./image/svg/clock.svg'/> 3 min read",
        title:"Top 5 Fastest Growing Digital Agency Marketing Jobs Today",
        text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi amet, lorem tristique In laoreet morbi morbi lorem maecenas."
        },
        {
        id:4,
        img:"./image/blog/blog-4.png",
        date:"<img alt='calendar' src='./image/svg/calendar.svg'/> March 18, 2021",
        time:"<img alt='clock' src='./image/svg/clock.svg' /> 3 min read",
        title:"8 Innovative Design Ideas to Make Your Design Superb",
        text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi amet, lorem tristique In laoreet morbi morbi lorem maecenas."
        },
        {
        id:5,
        img:"./image/blog/blog-5.png",
        date:"<img alt='calendar' src='./image/svg/calendar.svg'/> March 18, 2021",
        time:"<img alt='calendar' src='./image/svg/clock.svg'/> 3 min read",
        title:"How to Buy Stocks: Step-by-Step Guide for Beginner Investors",
        text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi amet, lorem tristique In laoreet morbi morbi lorem maecenas."
        },
        {
        id:6,
        img:"./image/blog/blog-6.png",
        date:"<img src='./image/svg/calendar.svg' alt='calendar'/> March 18, 2021",
        time:"<img src='./image/svg/clock.svg' alt='calendar'/> 3 min read",
        title:"6 Great Productivity Apps You Can Download for Free This Week",
        text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi amet, lorem tristique In laoreet morbi morbi lorem maecenas."
        }

]%}
{% set postCardData =[
    {
    id:1,
    img:"./image/blog/post-1.png",
    date:"<img src='./image/svg/calendar-2.svg' alt='calendar'/> March 18, 2021",
    title:"5 Tips to Be Prepared for Digital Marketing Trends"
    },
    {
    id:2,
    img:"./image/blog/post-2.png",
    date:"<img src='./image/svg/calendar-2.svg' alt='calendar'/> March 18, 2021",
    title:"How to Start Your Career As a UI/UX Designer"
    }


]%}
{% set shotsCardData =[
    {
    id:1,
    img:"./image/innerpage/shots-1.png"
    },
    {
    id:2,
    img:"./image/innerpage/shots-2.png"
    },
    {
    id:3,
    img:"./image/innerpage/shots-3.png"
    },
    {
    id:4,
    img:"./image/innerpage/shots-4.png"
    },
    {
    id:5,
    img:"./image/innerpage/shots-5.png"
    },
    {
    id:6,
    img:"./image/innerpage/shots-6.png"
    },
    {
    id:7,
    img:"./image/innerpage/shots-7.png"
    },
    {
    id:8,
    img:"./image/innerpage/shots-8.png"
    }


]%}
    <div class="blog-content-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-8 col-xs-10 order-lg-2">
                    <div class="blog-content-area__search">
                        {{MixtComponent.SearchBox()}}
                    </div>
                    <div class="blog-content-area__post">
                        <div class="blog-post-box">
                            <h3 class="content-title">Recent Post</h3>
                            <div class="blog-post-box__single-post overflow-hidden">
                                {% for item in postCardData%}
                                <div class="single-post" data-aos="fade-up" data-aos-delay="{{ 200 * item.id }}"
                                data-aos-duration="800">
                                    <a href="#" class="d-block">
                                        {{Card.PostCard({
                                            img:item.img,
                                            title:item.title,
                                            date:item.date
                                        })}}
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="blog-content-area__categories">
                        {{MixtComponent.Categories()}}
                    </div>
                    <div class="blog-content-area__tags">
                        {{MixtComponent.Tags()}}
                    </div>
                        <div class="blog-content-area__shots">
                        <div class="shots-box">
                            <h3 class="content-title">Instagram Shots</h3>
                            <div class="shots-box__single-post overflow-hidden">
                                {% for item in shotsCardData%}
                                <div class="single-post" data-aos="fade-up" data-aos-delay="{{ 200 * item.id }}"
                                data-aos-duration="800">
                                    <a href="#" class="d-block">
                                        {{Card.InstagramShots({
                                            img:item.img
                                        })}}
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 order-lg-1">
                    <div class="blog-content-area__card">
                        <div class="row card-row">
                            {% for item in cardData%}
                            <div class="col-12" data-aos="fade-up" data-aos-delay="{{ 200 * item.id }}" data-aos-duration="800">
                                <a href="blog-details.html" class="d-block">
                                    {{Card.BlogCardThree({
                                        img:item.img,
                                        date:item.date,
                                        time:item.time,
                                        title:item.title,
                                        text:item.text
                                    })}}
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog-content-area__button">
                <a class="btn btn-1 btn-primary" href="#">
                Next Page
                <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 13L7 7L1 1" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                </a>
            </div>
        </div>
    </div>
{% endmacro %}
