{% macro render(args) %}
    <div class="about-section-06 bg-white-lilac">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-6 col-sm-9  col-10 col-md-8 order-lg-2">
                   <div class="about-section-06__image-group">
                    <img src="./image/l-6/mobile.png" alt="mobile" class="w-100">
                   </div> 
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="about-section-06__content">
                        <div class="section-content-block">
                            <h6 class="subtitle mb-10 text-primary">About Bestkit</h6>
                            <h2 class="title">Connecting All Your Daily Payment Needs Easily With Bestkit</h2>
                        </div>
                        <div class="about-section-06__content--widget">
                            <div class="about-wdidget-03">
                                <div class="widget-icon">
                                    <img src="./image/l-6/a-w-1.svg" alt="">
                                </div>
                                <div class="widget-content">
                                    <h6>A New Global Payment System</h6>
                                    <p>Lorem ipsum dolor sit a Captivate your guests with seamls, browsing experience across all devices.</p>
                                </div>
                            </div>
                            <div class="about-wdidget-03">
                                <div class="widget-icon">
                                    <img src="./image/l-6/a-w-2.svg" alt="">
                                </div>
                                <div class="widget-content">
                                    <h6>Your Money Arrives Instantly</h6>
                                    <p>Lorem ipsum dolor sit a Captivate your guests with seamls, browsing experience across all devices.</p>
                                </div>
                            </div>
                            <div class="about-wdidget-03">
                                <div class="widget-icon">
                                    <img src="./image/l-6/a-w-3.svg" alt="">
                                </div>
                                <div class="widget-content">
                                    <h6>Payment Faster Than Others</h6>
                                    <p>Lorem ipsum dolor sit a Captivate your guests with seamls, browsing experience across all devices.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
