{% macro render(args) %}
    <div class="content-section-08">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-5 col-lg-6 col-sm-8">
                    <div class="content-section-08__image-group">
                        <img src="./image/l-6/conten-2.png" alt="content" class="w-100">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-sm-10 col-sx-11 offset-xl-1">
                    <div class="content-section-08__content section-content-block">
                        <h2 class="title">Easy to Sign Up & Can Make Transactions Yourself</h2>
                        <p class="text-dark">We design & build brand, campaigns & digital projects for business large & small with customer experiences. Due to its fo widespread use as filler text for layouts, non-readability is of great importance human perception.</p>
                        <div class="content-section-08__content--list content-list-01">
                            <ul class="list-group list-unstyled">
                                <li><span>
                                    
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="10" cy="10" r="10" fill="#36CD77"/>
                                    <path d="M13.3337 7.5L8.75033 12.0833L6.66699 10" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>

                                </span>Manage tasks with task lists without changing the overall project schedule.</li>
                                <li><span>
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="10" cy="10" r="10" fill="#36CD77"/>
                                    <path d="M13.3337 7.5L8.75033 12.0833L6.66699 10" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>Your team members can view their tasks, update their progress</li>
                            </ul>
                        </div>
                        <a class="btn btn-1 btn-primary" href="#">
                            Learn More
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 13L7 7L1 1" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
