{% macro render(args) %}
{% import "components/cards.njk" as Card %}

{% set cardData =[
        {
        id:1,
        img:"./image/l-6/icon-1.svg",
        bgWrapper:"bg-narvik",
        title:"Fast & Simple",
        text:"Projects for business large & small with customer experiences."
        },
        {
        id:2,
        img:"./image/l-6/icon-2.svg",
        bgWrapper:"bg-sazerac",
        title:"Easy to Sign Up",
        text:"Projects for business large & small with customer experiences."
        }


]%}
    <div class="content-section-09">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-8 order-lg-2">
                    <div class="content-section-09__image-group">
                        <img src="./image/l-6/content-3.png" alt="content" class="w-100">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-10 col-sx-11 order-lg-1">
                    <div class="content-section-09__content section-content-block">
                        <h2 class="title">Easy to Sign Up & Can Make Transactions Yourself</h2>
                        <p class="text-dark">We design & build brand, campaigns & digital projects for business large & small with customer experiences.</p>
                        <div class="content-section-09__content--widget">
                            <div class="row card-row">
                                {% for item in cardData%}
                                    <div class="col-xs-6 col-10" data-aos="fade-up" data-aos-delay="{{ 200 * item.id }}" data-aos-duration="1000">
                                            {{Card.FeatureCard({
                                                modifier:"feature-card--04",
                                                img:item.img,
                                                bgWrapper:item.bgWrapper,
                                                text:item.text,
                                                title:item.title
                                            })}}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
