{% macro render(args) %}
    <div class="counter-section-04">
        <div class="container">
            <div class="counter-section-04__wrapper">
                <div class="count-block section-content-block text-center">
                    <div class="icon">
                        <img src="./image/l-6/c-1.svg" alt="svg-icon">
                    </div>
                    <h3 class="title heading-dark"><span class="counter">47,595</span></h3>
                    <p class="text-dark">Users</p>
                </div>
                <div class="count-block section-content-block text-center">
                    <div class="icon">
                        <img src="./image/l-6/c-2.svg" alt="svg-icon">
                    </div>
                    <h3 class="title heading-dark"><span class="counter">34,797</span></h3>
                    <p class="text-dark">Years of Experience</p>
                </div>
                <div class="count-block section-content-block text-center">
                    <div class="icon">
                        <img src="./image/l-6/c-3.svg" alt="svg-icon">
                    </div>
                    <h3 class="title heading-dark"><span class="counter">895</span></h3>
                    <p class="text-dark">Winning Award</p>
                </div>
                <div class="count-block section-content-block text-center">
                    <div class="icon">
                        <img src="./image/l-6/c-4.svg" alt="svg-icon">
                    </div>
                    <h3 class="title heading-dark"><span class="counter">50,927</span></h3>
                    <p class="text-dark">Happy Customer</p>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
