{% macro render(args) %}
    <div class="cta-section-04"style="background-image: url('./image/l-6/cta.png');">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-9">
                    <div class="cta-section-04__content section-content-block">
                        <h6 class="subtitle text-primary mb-10">About Bestkit</h6>
                        <h2 class="title">Connecting All Your Daily Payment Needs Easily With Bestkit</h2>
                        <div class="cta-section-04__content--button-group">
                            <div class="google-play">
                                <a href="#">
                                <img src="./image/l-6/google-play.png" alt="google-play" class="mw-100">
                                </a>
                            </div>
                            <div class="app-store">
                                <a href="#">
                                <img src="./image/l-6/app-store.png" alt="app-store" class="mw-100">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
