{% macro render(args) %}
    <div class="screenshot-slider-section bg-white-lilac">
        <div class="container">
            <div class="row justify-content-center">
                <div class="section-title-block text-center">
                    <h6 class="subtitle text-primary mb-10">App Interface</h6>
                    <h2 class="titel">Choose The Offering That <br class=" d-none d-xs-block">
                        Works Best For You.</h2>
                </div> 
            </div>
        </div>
        <div class="screenshot-slider-wrapper">
            <div class="screenshot-slider">
                <!-- single-slide Area -->
                <div class="single-slide focus-reset">
                    <div class="screenshot-image">
                        <img src="./image/l-6/screen-1.png" alt=""/>
                    </div>
                </div>
                <!-- / .single-slide Area -->
                <!-- single-slide Area -->
                <div class="single-slide focus-reset">
                    <div class="screenshot-image">
                        <img src="./image/l-6/screen-2.png" alt=""/>
                    </div>
                </div>
                <!-- / .single-slide Area -->
                <!-- single-slide Area -->
                <div class="single-slide focus-reset">
                    <div class="screenshot-image">
                        <img src="./image/l-6/screen-3.png" alt=""/>
                    </div>
                </div>
                <!-- / .single-slide Area -->
                <!-- single-slide Area -->
                <div class="single-slide focus-reset">
                    <div class="screenshot-image">
                        <img src="./image/l-6/screen-2.png" alt=""/>
                    </div>
                </div>
                <!-- / .single-slide Area -->
                <!-- single-slide Area -->
                <div class="single-slide focus-reset">
                    <div class="screenshot-image">
                        <img src="./image/l-6/screen-1.png" alt=""/>
                    </div>
                </div>
                <!-- / .single-slide Area -->
                <!-- Screenshot Area -->
                <div class="single-slide focus-reset">
                    <div class="screenshot-image">
                        <img src="./image/l-6/screen-2.png" alt=""/>
                    </div>
                </div>
            </div>
            <div class="phone-bg-img">
                <img src="./image/l-6/frame.png" alt=""/>
            </div>
        </div>
        <div class="screenshots-dots"></div>
    </div>
{% endmacro %}
