.comingsoon-area{
    padding: 60px 0;
    @media (min-width:575px) {
        padding: 80px 0;
    }
    @media (min-width:992px) {
        padding: 130px 0;
    }
    &__content{
        .timer-block{
            margin: 30px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .single-timer{
                padding: 0 10px;
                &:last-child{
                    padding-right: 0;
                }
                &:first-child{
                    padding-left: 0;
                }
            }
            @media (min-width:992px) {
                margin: 50px 0;
            }
        }   
    }
    &__image-group{
        margin-bottom: 35px;
        @media (min-width:992px) {
            margin-bottom: 0;
        }
    }
    .hero-newsletter-01{
        .form-control{
            background: var(--bs-white-lilac);
        }
    }
}
