{% macro render(args) %}
    <div class="preview-counter-section">
        <div class="container">
            <div class="section-title-block">
                <h6 class="text-primary mb-10 subtitle">Bestkit statistics</h6>
                <h2 class="title">Just a Few Number</h2>
            </div>
            <div class="preview-counter-section__wrapper">
                <div class="sigle-counter-items">
                    <div class="card-icon">
                        <img src="./image/preview/c-4.svg" alt="icon" class="make-it-inline">
                    </div>
                    <div class="card-content">
                        <h6 class=" title"><span class="counter">160 +</span>+</h6>
                        <p class="text">Components & Features</p>
                    </div>
                </div>
                <div class="sigle-counter-items">
                    <div class="card-icon">
                        <img src="./image/preview/c-3.svg" alt="icon" class="make-it-inline">
                    </div>
                    <div class="card-content">
                        <h6 class=" title"><span class="counter">21</span>+</h6>
                        <p class="text">Pre-built Template</p>
                    </div>
                </div>
                <div class="sigle-counter-items">
                    <div class="card-icon">
                        <img src="./image/preview/c-1.svg" alt="icon" class="make-it-inline">
                    </div>
                    <div class="card-content">
                        <h6 class=" title"><span class="counter">350</span>%</h6>
                        <p class="text">Happy Customers</p>
                    </div>
                </div>
                <div class="sigle-counter-items">
                    <div class="card-icon">
                        <img src="./image/preview/c-2.svg" alt="icon" class="make-it-inline">
                    </div>
                    <div class="card-content">
                        <h6 class=" title"><span class="counter">24</span>x<span class="counter">7</span></h6>
                        <p class="text">Customer support</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
