{% macro render(args) %}
    <div class="preview-hero-section" style="background-image: url('./image/preview/hero.png');">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8">
                    <div class="preview-hero-section__content text-center">
                        <h2 class="main-title text-white">Bestkit</h2>
                        <h3 class="short-title text-white">Bootstrap 5 Multipurpose HTML Template</h3>
                        <p class="text text-white">Bestkit helps you to Save time and create a fully functioning website with over
                            300+ flexible blocks and 6+ pre-built websites.</p>
                        <a class="btn" href="landing-1.html">
                            Live Preview
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 13L7 7L1 1" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="preview-image-group">
        <img src="./image/preview/preview.png" alt="preview" class="mw-100">
    </div>
{% endmacro %}
