{% extends "template.njk" %}
{% import "components/Header/_header.njk" as Header %}
{% import "components/Breadcrumb/_breadcrumb.njk" as Breadcrumb %}
{% import "pages/careers/_content.njk" as CareersContent %}
{% import "pages/careers/_cta.njk" as CtaSection %}
{% import "components/Footer/_footer-03__v2.njk" as FooterSection %}
{% block main %}
<!-- Header Section Start -->
{{Header.render(innerHeader)}}
<!-- Header Section End -->
<!-- Breadcrumb Section Start -->
{{Breadcrumb.render({
    "pageName":"Career",
    "title":"Career",
    "text":"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam"
})}}
<!-- Breadcrumb Section End --> 
<!-- Careers Content Section Start -->
{{CareersContent.render()}}
<!-- Careers Content Section End --> 
<!-- Cta Section Start -->
{{CtaSection.render()}}
<!-- Cta Section End --> 
<!-- Footer Section Start -->
{{FooterSection.render()}}
<!-- Footer Section End --> 
{% endblock %}
