{% extends "template.njk" %}
{% import "components/Header/_header.njk" as Header %}
{% import "pages/landing-1/_hero.njk" as HeroSection %}
{% import "pages/landing-1/_brand.njk" as BrandSection %}
{% import "pages/landing-1/_about.njk" as AboutSection %}
{% import "pages/landing-1/_skill.njk" as SkillSection %}
{% import "pages/landing-1/_service.njk" as ServiceSection %}
{% import "pages/landing-1/_counter.njk" as CounterSection %}
{% import "pages/landing-1/_qualification.njk" as QualificationSection %}
{% import "pages/landing-1/_cta.njk" as CtaSection %}
{% import "pages/landing-1/_portfolio.njk" as PortfolioSection %}
{% block main %}
  <!-- Header Section Start -->
  {{Header.render(siteHeader)}}
  <!-- Header Section End -->
  <!-- Hero Section Start -->
  {{HeroSection.render()}}
  <!-- Hero Section End -->
  <!-- Brand Section Start -->
  {{BrandSection.render()}}
  <!-- Brand Section End -->
  <!-- About Section Start -->
  {{AboutSection.render()}}
  <!-- About Section End -->
  <!-- Skill Section Start -->
  {{SkillSection.render()}}
  <!-- Skill Section End -->
  <!-- Service Section Start -->
  {{ServiceSection.render()}}
  <!-- Service Section End -->
  <!-- Counter Section Start -->
  {{CounterSection.render()}}
  <!-- Counter Section End -->
  <!-- Qualification Section Start -->
  {{QualificationSection.render()}}
  <!-- Qualification Section End -->
  <!-- Cta Section Start -->
  {{CtaSection.render()}}
  <!-- Cta Section End -->
  <!-- Portfolio Section Start -->
  {{PortfolioSection.render()}}
  <!-- Portfolio Section End -->
{% endblock %}
