{% extends "template.njk" %}
{% import "components/Header/_header.njk" as Header %}
{% import "pages/landing-6/_hero.njk" as HeroSection %}
{% import "pages/landing-6/_feature.njk" as FeatureSection %}
{% import "pages/landing-6/_content-01.njk" as ContentSection %}
{% import "pages/landing-6/_about.njk" as AboutSection %}
{% import "pages/landing-6/_counter.njk" as CounterSection %}
{% import "components/Footer/_footer-03.njk" as FooterSection %} 
{% block main %}
  <!-- Header Section Start -->
  {{Header.render(siteHeaderSix)}}
  <!-- Header Section End -->
  <!-- Hero Section Start -->
  {{HeroSection.render()}}
  <!-- Hero Section End -->
 <!-- Feature Section Start -->
  {{FeatureSection.render()}}
  <!-- Feature Section End -->
  <!-- Content Section Start -->
  {{ContentSection.render()}}
  <!-- Content Section End -->
  <!-- About Section Start -->
  {{AboutSection.render()}}
  <!-- About Section End -->
  <!-- Counter Section Start -->
  {{CounterSection.render()}}
  <!-- Counter Section End -->
  {#  <!-- Content One Section Start -->
  {{ContentSectionOne.render()}}
  <!-- Content One Section End -->
  <!-- Content Two Section Start -->
  {{ContentSectionTwo.render()}}
  <!-- Content Two Section End -->
  <!-- Faq Two Section Start -->
  {{FaqSection.render()}}
  <!-- Faq Two Section End -->
  <!-- Price Section Start -->
  {{PriceSection.render()}}
  <!-- Price Section End -->
  <!-- Testimonial Section Start -->
  {{TestimonialSection.render()}}
  <!-- Testimonial Section End -->
  <!-- Footer Section Start --> #}
  {{FooterSection.render()}}
  <!-- Footer Section End -->
{% endblock %}
