{% extends "template.njk" %}
{% import "components/Header/_header.njk" as Header %}
{% import "pages/landing-5/_hero.njk" as HeroSection %}
{% import "pages/landing-5/_feature.njk" as FeatureSection %}
{# {% import "pages/landing-5/_brand.njk" as BrandSection %}
{% import "pages/landing-5/_service.njk" as ServiceSection %}
{% import "pages/landing-5/_about.njk" as AboutSection %}
{% import "pages/landing-5/_counter.njk" as CounterSection %}
{% import "pages/landing-5/_content-01.njk" as ContentOneSection %}
{% import "pages/landing-5/_content-02.njk" as ContentTwoSection %}
{% import "pages/landing-5/_team.njk" as TeamSection %}
{% import "pages/landing-5/_testimonial.njk" as TestimonialSection %}
{% import "pages/landing-5/_price.njk" as PriceSection %}
{% import "pages/landing-5/_blog.njk" as BlogSection %}
{% import "components/Footer/_footer-02.njk" as FooterSection %} #}
{% block main %}
  <!-- Header Section Start -->
  {{Header.render(siteHeaderFive)}}
  <!-- Header Section End -->
  <!-- Hero Section Start -->
  {{HeroSection.render()}}
  <!-- Hero Section End -->
  <!-- Feature Section Start -->
  {{FeatureSection.render()}}
  <!-- Feature Section End -->
  {# <!-- Brand Section Start -->
  {{BrandSection.render()}}
  <!-- Brand Section End -->
  <!-- Service Section Start -->
  {{ServiceSection.render()}}
  <!-- Service Section End -->
  <!-- About Section Start -->
  {{AboutSection.render()}}
  <!-- About Section End -->
  <!-- Counter One Section Start -->
  {{CounterSection.render()}}
  <!-- Counter One Section End -->
  <!-- Content One Section Start -->
  {{ContentOneSection.render()}}
  <!-- Content One Section End -->
  <!-- Content Two Section Start -->
  {{ContentTwoSection.render()}}
  <!-- Content Two Section End -->
  <!-- Team Section Start -->
  {{TeamSection.render()}}
  <!-- Team Section End -->
  <!-- Testimonial Section Start -->
  {{TestimonialSection.render()}}
  <!-- Testimonial Section End -->
      <!-- Price Section Start -->
  {{PriceSection.render()}}
  <!-- Price Section End -->
  <!-- Blog Section Start -->
  {{BlogSection.render()}}
  <!-- Blog Section End --> 
  <!-- Footer Section Start -->
  {{FooterSection.render()}}
  <!-- Footer Section End -->  #}
{% endblock %}
