@use "../abstracts/mixins" as *;
.card-service{
  background: var(--bs-white);
  border: 1px solid #DEE7EE;
  border-radius: 5px;
  display: flex;
  transition: .3s;
  align-items: flex-start;
  padding: 30px 25px;
  @media (min-width:575px) {
    flex-direction: row;
    padding: 45px;
    padding-top: 37px;
  }
  .card-image{
    margin-bottom: 20px;
    @include square(60px,500px);
    @include flexAllCenter;
    background: #EBF6FF;
    transition: .3s;
    @media (min-width:575px) {
      margin-bottom: 0;
      margin-right: 30px;
    }
    svg{
      path{
        transition: .3s;
        stroke: var(--bs-primary);
      }
    }
  }
  .card-body{
    .card-title{
      font-weight: 600;
      font-size: 20px;
      line-height: 1.5;
      margin-bottom: 15px;
      @media (min-width:575px) {
        font-size: 24px;
      }
    }
    p{
      font-weight: 500;
      font-size: 16px;
      line-height: 1.555555555555556;
      margin-bottom: 25px;
      @media (min-width:575px) {
        font-size: 18px;
      }
    }
    a{
      position: relative;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      color: black;
      transition: .3s;
      padding: 5px 0;
      &::before{
        position: absolute;
        bottom: 0;
        content: "";
        height: 1px;
        left: 0;
        width: 0;
        transition: .3s;
        background: var(--bs-azure-radiance);
      }
      &:hover{
        color: var(--bs-azure-radiance);
        &::before{
          width: 100%;
        }
      }
    }
  }
  &:hover{
    border-color: transparent;
    filter: drop-shadow(0px 15px 30px rgba(210, 217, 224, 0.35));
    .card-image{
      background: var(--bs-primary);
      svg{
        path{
          stroke: var(--bs-white);
        }
      }
    }
  }
  &--02{
    overflow: hidden;
    flex-direction: column;
    padding: 40px 30px;
    box-shadow: 0px 15px 30px rgba(210, 217, 224, 0.35);
    @media (min-width:768px) {
      padding: 50px 40px;
    }
    border: 0;
    position: relative;
    &::before{
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      width:100%;
      transform: translateY(100%);
      transition: .3s;
      height: 3px;
      background: var(--bs-primary);
    }
    .card-image{
      @include square(65px,500px);
      margin-bottom: 20px;
      @media (min-width:992px) {
        margin-bottom: 35px;
      }
    }
    .card-body{
      .card-title{
        line-height: 1.2;
        margin-bottom: 15px;
        @media (min-width:575px) {
          margin-bottom: 25px;
        }
      }
      a{
        padding: 0;
        display: flex;
        font-weight: 600 !important;
        align-items: center;
        color: var(--bs-black) !important;
        img{
          margin-left: 5px;
        }
        &::before{
          display: none;
        }
      }
    }
    &:hover{
      box-shadow: none;
      &::before{
        transform: translateY(0);
      }
      .card-image{
        background: var(--bs-primary) !important;
        svg{
          path{
            stroke: var(--bs-white) !important;
          }
        }
      }
    }
  }
}
.card-blog{
  background: var(--bs-white-lilac);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: .3s;
  .card-image{
    border-top-left-radius: 10px;
    overflow: hidden;
    border-top-right-radius: 10px;
    img{
      transition: .3s;
    }
  }
  .card-body{
    padding: 25px 20px;
    @media (min-width:575px) {
      padding: 30px;
    }
    .date{
      span{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.222222222222222;
        @media (min-width:575px) {
          font-size: 18px;
        }
      }
    }
    .titel{
      color: var(--bs-black);
      transition: .3s;
      margin-top: 10px;
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 20px;
      @media (min-width:575px) {
        font-size: 24px;
        margin-bottom: 25px;
      }
    }
    .author-block{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .author{
        img{
          margin-right: 12px;
          @include square(30px,500px);
          object-fit: cover;
        }
      }
      .author-name{
        h6{
          font-weight: 500;
          font-size: 16px;
          line-height: 1.222222222222222;
          @media (min-width:575px) {
            font-size: 18px;
          }
        }
      }
      .comment{
        display: flex;
        align-items: center;
        span{
          margin-left: 8px;
        }
      }
    }
  }
  &:hover{
    background: var(--bs-white);
    box-shadow: 0px 15px 30px rgba(210, 217, 224, 0.35);
    .card-image{
      img{
        transform: scale(1.1);
      }
    }
    .card-body{
      .titel{
        color: var(--bs-primary);
      }
    }
  }
}
