@use "../abstracts/colors"  as *;

$width: 30px;
$height: 30px;

$bounce_height: 30px;
.preloader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  z-index: 9999999999;
  justify-content: center;
  background: #fff;
}
