{% macro render(args) %}
    <div class="about-section-02">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 col-md-10 col-sm-11">
                    <div class="about-section-02__image-group mb-5 mt-lg-0"  data-aos="fade-up" data-aos-duration="800" data-aos-delay="600">
                        <img src="./image/l-2/about.png" alt="about-img" class="w-100">
                        <div class="experience-card">
                            <h2>25+ <span>Years Of <br /> Experience</span></h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-10 col-sm-11">
                    <div class="about-section-02__content section-content-block" data-aos="fade-left" data-aos-duration="800" data-aos-delay="600">
                        <h6 class="mb-10 text-primary subtitle">Learn About Us</h6>
                        <h2 class="title">Brainstorming Sessions Churning Out New Ideas</h2>
                        <p class="text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                        <div class="about-section-02__content--tab tab-content-01">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Our Mission</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Our Mission</button>
                                </li>
                              </ul>
                              <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <p class="text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet velit amet at suscipit accumsan orci. Luctus dolor vestibulum id duis dolor luctus dui ac pretium. Sed donec posuere porta tortor posuere enim ut.</p>
                                    <ul class="list-group list-unstyled">
                                        <li>
                                            <span>
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="12" cy="12" r="11" stroke="#008AFF" stroke-width="2"/>
                                            <path d="M15.5 10L10.3437 15L8 12.7273" stroke="#008AFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                            </span>
                                            Pixel perfect & expertly crafted to meet standards
                                        </li>
                                        <li>
                                            <span>
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="12" cy="12" r="11" stroke="#008AFF" stroke-width="2"/>
                                            <path d="M15.5 10L10.3437 15L8 12.7273" stroke="#008AFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                            </span>
                                            We love what we do & who we do it for
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <p class="text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet velit amet at suscipit accumsan orci. Luctus dolor vestibulum id duis dolor luctus dui ac pretium. Sed donec posuere porta tortor posuere enim ut.</p>
                                    <ul class="list-group list-unstyled">
                                        <li>
                                            <span>
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="12" cy="12" r="11" stroke="#008AFF" stroke-width="2"/>
                                            <path d="M15.5 10L10.3437 15L8 12.7273" stroke="#008AFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                            </span>
                                            Pixel perfect & expertly crafted to meet standards
                                        </li>
                                        <li>
                                            <span>
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="12" cy="12" r="11" stroke="#008AFF" stroke-width="2"/>
                                            <path d="M15.5 10L10.3437 15L8 12.7273" stroke="#008AFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                            </span>
                                            We love what we do & who we do it for
                                        </li>
                                    </ul>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
