{% macro render(args) %}
    <div class="counter-section-02">
        <div class="container">
            <div class="counter-wrapper">
                <div class="count-block">
                    <div class="icon">
                        <img src="./image/l-2/counter-1.png" alt="icon">
                    </div>
                    <div class="counter-content section-content-block text-center">
                        <h3 class="title heading-dark"><span class="counter">868</span></h3>
                        <p class="text-dark">Startups</p>
                    </div>
                </div>
                <div class="count-block">
                    <div class="icon">
                        <img src="./image/l-2/counter-2.png" alt="icon">
                    </div>
                    <div class="counter-content section-content-block text-center">
                        <h3 class="title heading-dark"><span class="counter">372</span></h3>
                        <p class="text-dark">Startups</p>
                    </div>
                </div>
                <div class="count-block">
                    <div class="icon">
                        <img src="./image/l-2/counter-3.png" alt="icon">
                    </div>
                    <div class="counter-content section-content-block text-center">
                        <h3 class="title heading-dark"><span class="counter">14</span></h3>
                        <p class="text-dark">Startups</p>
                    </div>
                </div>
                <div class="count-block">
                    <div class="icon">
                        <img src="./image/l-2/counter-4.png" alt="icon">
                    </div>
                    <div class="counter-content section-content-block text-center">
                        <h3 class="title heading-dark"><span class="counter">43</span></h3>
                        <p class="text-dark">Startups</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
