{% macro render(args) %}
    <div class="skill-section-02 bg-white-lilac">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 col-md-10 col-sm-11">
                    <div class="skill-section-02__image-group">
                        <img src="./image/l-2/skill-img.png" alt="skill-img">
                    </div>
                </div>
                <div class="col-lg-6 col-md-10 col-sm-11">
                    <div class="skill-section-02__content section-content-block mt-5 mt-lg-0">
                        <h6 class="subtitle mb-10 text-primary">Our Skill</h6>
                        <h2 class="title">We Aim to Share Knowledge,
                            Attract Talent & Startups</h2>
                        <p class=" text-dark pe-xl-5">We design & build brand, campaigns & digital projects for business large & small with customer experiences.</p>
                        <div class="skill-section-02__content--skill-bar skill-bar-02">
                            <div class="skill-bar-02__item">
                                <div class="skill-bar-wrapper">
                                    <div class="skill-name">
                                    <h5>Business Consulting</h5>
                                    </div>
                                    <div class="skill-bar-count">
                                    <span>74%</span>
                                    </div>
                                </div>
                                <div class="skill-bar">
                                    <div class="skill-per" style="max-width: 74%"></div>
                                </div>
                            </div>
                            <div class="skill-bar-02__item">
                                <div class="skill-bar-wrapper">
                                    <div class="skill-name">
                                    <h5>Business Startup</h5>
                                    </div>
                                    <div class="skill-bar-count">
                                    <span>86%</span>
                                    </div>
                                </div>
                                <div class="skill-bar">
                                    <div class="skill-per" style="max-width: 86%"></div>
                                </div>
                            </div>
                            <div class="skill-bar-02__item">
                                <div class="skill-bar-wrapper">
                                    <div class="skill-name">
                                    <h5>Marketing Analysis</h5>
                                    </div>
                                    <div class="skill-bar-count">
                                    <span>48%</span>
                                    </div>
                                </div>
                                <div class="skill-bar">
                                    <div class="skill-per" style="max-width: 48%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
