{% macro render(args) %}
   <div class="testimonial-section-02">
        <div class="container">
            <div class="row align-items-end testimonial-section-02__content">
                <div class="col-lg-6 col-xl-5 col-xxl-4 col-xs-9">
                    <div class="section-content-block mb-3 mb-sm-0">
                        <h6 class="mb-10 text-primary subtitle">Testimonial</h6>
                        <h2 class="title">See What Others Have
                            to Say About Us</h2>
                    </div>
                </div>
                <div class="col-xxl-8 col-lg-6 col-xs-3">
                    <div class="testimonial-slider--02__control-buttons text-end">
                        <button class="button button--prev">
                            <svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16 6.5H1" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M6.43115 1L1.00012 6.5L6.43115 12" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            </button>
                        <button class="button button--next">
                            <svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 6.5H16" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M10.5688 1L15.9999 6.5L10.5688 12" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
    
                        </button>
                    </div>
                </div>
            </div>
            <div class="testimonial-section-02__slider">
                <div class="testimonial-slider--02">
                    <div class="single-slide">
                       <div class="testimonial-card-02">
                          <div class="testimonial-card-02__content {{args.bgClassName}}">
                              <div class="quote">
                                  <svg width="43" height="30" viewBox="0 0 43 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M42.0034 12H33.0034L39.0035 1.90735e-06H30.0034L24.0034 12V30H42.0034V12Z" fill="#DEE7EE"/>
                                  <path d="M18 30V12H9L15 1.90735e-06H6.00004L-3.8147e-06 12V30H18Z" fill="#DEE7EE"/>
                                  </svg>
                              </div>
                              <div class="text">
                                  <p>Lorem Ipsum is a simply dummy text of an the printing and type settings for has been the industry's standard dumy text the ever since unknown printer.</p>
                              </div>
                          </div>
                          <div class="testimonial-card-02__client">
                              <div class="avatar">
                                  <img src="./image/l-2/avatar-1.png" alt="client" class="w-100">
                              </div>
                              <div class="client-info">
                                  <h6>Jhon Smith</h6>
                                  <p>Web Developer</p>
                              </div>
                          </div>
                       </div>
                    </div>
                    <div class="single-slide">
                       <div class="testimonial-card-02">
                          <div class="testimonial-card-02__content {{args.bgClassName}}">
                              <div class="quote">
                                  <svg width="43" height="30" viewBox="0 0 43 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M42.0034 12H33.0034L39.0035 1.90735e-06H30.0034L24.0034 12V30H42.0034V12Z" fill="#DEE7EE"/>
                                  <path d="M18 30V12H9L15 1.90735e-06H6.00004L-3.8147e-06 12V30H18Z" fill="#DEE7EE"/>
                                  </svg>
                              </div>
                              <div class="text">
                                  <p>Lorem Ipsum is a simply dummy text of an the printing and type settings for has been the industry's standard dumy text the ever since unknown printer.</p>
                              </div>
                          </div>
                          <div class="testimonial-card-02__client">
                              <div class="avatar">
                                  <img src="./image/l-2/avatar-2.png" alt="client" class="w-100">
                              </div>
                              <div class="client-info">
                                  <h6>Michle D. Collins</h6>
                                  <p>UI/UX Designer</p>
                              </div>
                          </div>
                       </div>
                    </div>
                    <div class="single-slide">
                       <div class="testimonial-card-02">
                          <div class="testimonial-card-02__content {{args.bgClassName}}">
                              <div class="quote">
                                  <svg width="43" height="30" viewBox="0 0 43 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M42.0034 12H33.0034L39.0035 1.90735e-06H30.0034L24.0034 12V30H42.0034V12Z" fill="#DEE7EE"/>
                                  <path d="M18 30V12H9L15 1.90735e-06H6.00004L-3.8147e-06 12V30H18Z" fill="#DEE7EE"/>
                                  </svg>
                              </div>
                              <div class="text">
                                  <p>Lorem Ipsum is a simply dummy text of an the printing and type settings for has been the industry's standard dumy text the ever since unknown printer.</p>
                              </div>
                          </div>
                          <div class="testimonial-card-02__client">
                              <div class="avatar">
                                  <img src="./image/l-2/avatar-3.png" alt="client" class="w-100">
                              </div>
                              <div class="client-info">
                                  <h6>Jesica Lirona</h6>
                                  <p>Front End Developer</p>
                              </div>
                          </div>
                       </div>
                    </div>
                    <div class="single-slide">
                       <div class="testimonial-card-02">
                          <div class="testimonial-card-02__content {{args.bgClassName}}">
                              <div class="quote">
                                  <svg width="43" height="30" viewBox="0 0 43 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M42.0034 12H33.0034L39.0035 1.90735e-06H30.0034L24.0034 12V30H42.0034V12Z" fill="#DEE7EE"/>
                                  <path d="M18 30V12H9L15 1.90735e-06H6.00004L-3.8147e-06 12V30H18Z" fill="#DEE7EE"/>
                                  </svg>
                              </div>
                              <div class="text">
                                  <p>Lorem Ipsum is a simply dummy text of an the printing and type settings for has been the industry's standard dumy text the ever since unknown printer.</p>
                              </div>
                          </div>
                          <div class="testimonial-card-02__client">
                              <div class="avatar">
                                  <img src="./image/l-2/avatar-2.png" alt="client" class="w-100">
                              </div>
                              <div class="client-info">
                                  <h6>Michle D. Collins</h6>
                                  <p>UI/UX Designer</p>
                              </div>
                          </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
   </div> 
{% endmacro %}
