.brand-section-02{
    padding: 60px 0 30px;
    @media (min-width:575px) {
        padding: 80px 0 40px;
    }
    @media (min-width:922px) {
        padding: 125px 0 65px;
    }
    &__title{
        margin-bottom: 30px;
        @media (min-width:922px) {
            margin-bottom: 60px;
        }
    }
    &__group{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: -20px;
        justify-content: space-between;
        @media (min-width:768px) {
            justify-content: center;
        }
        @media (min-width:992px) {
            justify-content: space-between;
        }
        .single-brand{
            margin: 0 20px 20px 20px;
            img{
                width: 100px;
                @media (min-width:768px) {
                width: 100%;   
                }
            }
        }
    }
}
