.counter-section-02{
    padding: 30px 0 60px ;
    @media (min-width:575px) {
        padding:  40px 0 80px;
    }
    @media (min-width:992px) {
        padding: 45px 0 130px ;
    }
    .counter-wrapper{
        padding: 60px 0 30px;
        border-top: 1px solid #DEE7EE;
        border-bottom: 1px solid #DEE7EE;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        .count-block{
            @media (max-width:575px) {
                width: 50%;
            }
            display: flex;
            position: relative;
            align-items: center;
            flex-direction: column;
            margin-bottom: 24px;
            @media (min-width:992px) {
                flex-direction: row;
                &:not(&:first-child){
                    &::before{
                        position: absolute;
                        top: 50%;
                        content: "";
                        right: 138%;
                        transform: translateY(-50%);
                        height: 59px;
                        width: 1px;
                        background:#DEE7EE;
                        @media (min-width:1200px) {
                            right: 156%;
                        }
                        @media (min-width:1400px) {
                            right: 172%;
                        }
                    }
                }
            }
            .icon{
                margin-bottom: 20px;
                @media (min-width:992px) {
                    margin-bottom: 0;
                    margin-right: 30px;
                }
            }
            .title{
                margin-bottom: 5px;
            }
        }
    }
}
