.counter-section-02{
    .counter-wrapper{
        padding: 60px 0 60px;
        border-top: 1px solid #DEE7EE;
        border-bottom: 1px solid #DEE7EE;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: -24px !important;
        .count-block{
            @media (max-width:575px) {
                width: 50%;
            }
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 24px;
            @media (min-width:992px) {
                flex-direction: row;
            }
            .icon{
                margin-bottom: 20px;
                @media (min-width:992px) {
                    margin-bottom: 0;
                    margin-right: 30px;
                }
            }
            .title{
                margin-bottom: 5px;
            }
        }
    }
}
