.faq-section-01{
    padding: 60px 0;
    @media (min-width:992px) {
        padding: 80px 0;
    }
    @media (min-width:992px) {
        padding: 130px 0;
    }
    .section-content-block{
        .titel{
            margin-bottom: 20px;
            @media (min-width:992px) {
                margin-bottom: 25px;
            }  
        }
        p{
            @media (min-width:1400px) {
                padding-right: 60px;
            }
        }
        .btn{
            margin-top: 30px;
            @media (min-width:992px) {
                margin-top: 40px;
            }
        }
    }
}
.accordion-01{
.accordion-item{
    border: 0;
    margin-bottom: 25px;
    @media (min-width:992px) {
        margin-bottom: 30px;
    }
    &:last-child{
        margin-bottom: 0;
    }
   .accordion-header{
       .accordion-button{
           padding: 25px;
           font-weight: 600;
           font-size: 18px;
           line-height: 1.208333333333333;
           @media (min-width:992px) {
               font-size: 24px;
           }
           color: var(--bs-black);
           @media (min-width:992px) {
               padding: 35px;
           }
           &:not(.collapsed){
               background: transparent;
               box-shadow: none;
               &::after{
                background-image: url("data:image/svg+xml,%3Csvg width='14' height='2' viewBox='0 0 14 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H14V2H0V0Z' fill='%23222D39'/%3E%3C/svg%3E");
                transform: unset;
               }
           }
           &::after{
                background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 6V0H6V6H0V8H6V14H8V8H14V6H8Z' fill='%23222D39'/%3E%3C/svg%3E");
                padding-right: 25px;
                background-size: unset;
           }
       }
   } 
   .accordion-body{
       margin-top: -5px;
       padding: 0 25px 25px 25px;
       @media (min-width:992px) {
           padding: 0 35px 35px 35px;
           
       }
     p{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.555555555555556;
        color: var(--bs-gray);
        @media (min-width:575px) {
            font-size: 18px;
        }
     }  
   }
}
}
