.footer-section-02{
    background-color: var(--bs-black);
    padding: 60px 0;
    @media (min-width:575px) {
        padding: 80px 0;
    }
    @media (min-width:992px) {
        padding: 130px 0;
    }
    .footer-text{
        @media (min-width:992px) {
            padding-right: 24%;
        }
        p{
            padding-top: 19px;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.555555555555556;
            color: var(--bs-cadet-blue);
            @media (min-width:575px) {
                font-size: 18px;
            }
        }
    }
    &__widget-01{
        @media (max-width:768px) {
        margin-top: 35px;
    }   
        @media (min-width:768px) {
        margin-bottom: 35px;
    }   
        @media (min-width:1200px) {
        margin-bottom: 0;
    }   
    }
    &__widget-02{
        @media (max-width:768px) {
            margin: 35px 0;
        }
    @media (min-width:1200px) {
        margin-left: 55px;
    }
    @media (min-width:1400px) {
        margin-left: 68px;
    }
    }
    &__widget-03{
    @media (min-width:1200px) {
        margin-left: 60px;
    }
    @media (min-width:1400px) {
        margin-left: 105px;
    }
    }
}
.footer-widget-02{
    .title{
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 16px;
        line-height: 1.208333333333333;
        @media (min-width:992px) {
            font-size: 24px;
        }  
    }
    ul{
        li{
            margin-bottom: 12px;
            &:last-child{
                margin-bottom: 0;
            }
            a{
                font-weight: 500;
                font-size: 16px;
                transition: .3s;
                color: var(--bs-cadet-blue);  
                @media (min-width:575px) {
                    font-size: 18px;
                }
                &:hover{
                    color: var(--bs-primary);
                }
            }
        }
    }
    .list-wrapper{
        display: flex;
        .list-01{
            margin-right: 65px;
        }
    }
    &__info{
        .list-group{
            li{
                a{
                    display: flex;
                    align-items: center;
                    svg{
                        margin-right: 12px;
                        path{
                            transition: .3s;
                            stroke: var(--bs-cadet-blue);
                        }
                    }
                    &:hover{
                        svg{
                            margin-right: 12px;
                            path{
                                stroke: var(--bs-primary);
                            }
                        }  
                    }
                }
            }
        }
    }
}
.copyright-block-01{
    &--modifi{
      .copyright-block-01__wrapper{
       .copyright-block-01__social{
           li{
               a{
                   color: var(--bs-cadet-blue);
                   &:hover{
                       color: var(--bs-primary);
                   }
               }
           }
       }   
      }  
      .copyright-block-01__content{
        p{
            color: var(--bs-cadet-blue);
        }
      }
    }
}
