.price-section-03{
    padding: 60px 0;
    @media (min-width:575px) {
        padding: 80px 0;
    }
    @media (min-width:992px) {
        padding: 130px 0;
    }
    .section-title-block{
        margin-bottom: 35px;
        @media (min-width:992px) {
            margin-bottom: 70px;
        }
    }
}
.card-price-03{
  table{
      thead{
          tr{
              th{
                  &.w-40{
                      width: 40% !important ;
                  }
                  padding: 0;
                  padding-bottom: 30px;
                  .big-text{
                      span{
                          color: var(--bs-black);
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 1.3;
                        @media (min-width:992px) {
                            font-size: 30px;
                        } 
                      }
                  }
                  &.price-head{
                      .h4{
                        color: var(--bs-black);
                        font-weight: 600;
                        font-size: 24px;
                        padding-bottom: 10px;
                        line-height: 1.3;
                        @media (min-width:992px) {
                            font-size: 30px;
                        } 
                      }
                      .price{
                          padding-bottom: 17px;
                        color: var(--bs-black);
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 1.3;
                        @media (min-width:992px) {
                            font-size: 30px;
                        } 
                        span{
                            font-weight: 500;
                            line-height: 1.302777777777778;
                            font-size: 16px;
                            color: var(--bs-gray);
                            @media (min-width:575px) {
                                font-size: 18px;
                            }
                        }  
                      }
                      .btn{
                          width: 242px;
                      }
                  }
              }
          }
      }
      tbody{
          tr{
              td{
                white-space: nowrap;
                  border-top: 1px solid #DEE7EE;
                  border-bottom: 1px solid #DEE7EE;
                  padding: 30px 60px !important;
                  padding: 0;
                  color: var(--bs-gray);
                font-weight: 500;
                font-size: 16px;
                line-height: 1.277777777777778;
                @media (min-width:575px) {
                    font-size: 18px;
                }
                  &.option{
                      padding-left:0  !important;
                      padding-right: 0 !important;
                      color: var(--bs-black);
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 1.277777777777778;
                    @media (min-width:575px) {
                        font-size: 18px;
                    }
                  }
              }
          }
      }
  }  
}
