{% macro render(root, elemroot, hideMegamenu, dropdownStyle2, megamenuPosition) %}
    <ul class="site-menu-main">
        <li class="nav-item nav-item-has-children">
            <a href="#" class="nav-link-item drop-trigger">Home <i class="fas fa-angle-down"></i>
            </a>
            <ul class="sub-menu" id="submenu-1">
                <li class="sub-menu--item">
                    <a href="index.html">Landing 1</a>
                </li>
                <li class="sub-menu--item">
                    <a href="landing-2.html">Landing 2</a>
                </li>
                <li class="sub-menu--item">
                    <a href="landing-3.html">Landing 3</a>
                </li>
                <li class="sub-menu--item">
                    <a href="landing-4.html">Landing 4</a>
                </li>
                <li class="sub-menu--item">
                    <a href="landing-5.html">Landing 5</a>
                </li>
                <li class="sub-menu--item">
                    <a href="landing-6.html">Landing 6</a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-item-has-children">
            <a href="#" class="nav-link-item drop-trigger">Pages <i class="fas fa-angle-down"></i>
            </a>
            <ul class="sub-menu" id="submenu-2">
                <li class="sub-menu--item">
                    <a href="about-us.html">About Us</a>
                </li>
                <li class="sub-menu--item nav-item-has-children">
                    <a href="#" data-menu-get="h3" class="drop-trigger">Case Studies<i class="fas fa-angle-right"></i>
                    </a>
                    <ul class="sub-menu" id="submenu-9">
                        <li class="sub-menu--item">
                            <a href="case-study.html">Case Study</a>
                        </li>
                        <li class="sub-menu--item">
                            <a href="case-study-details.html">Case Study Details</a>
                        </li>
                    </ul>
                </li>
                <li class="sub-menu--item nav-item-has-children">
                    <a href="#" data-menu-get="h3" class="drop-trigger">Services<i class="fas fa-angle-right"></i>
                    </a>
                    <ul class="sub-menu" id="submenu-10">
                        <li class="sub-menu--item">
                            <a href="service.html">Service</a>
                        </li>
                        <li class="sub-menu--item">
                            <a href="service-details.html">Service Details</a>
                        </li>
                    </ul>
                </li>
                <li class="sub-menu--item nav-item-has-children">
                    <a href="#" data-menu-get="h3" class="drop-trigger">Utility<i class="fas fa-angle-right"></i>
                    </a>
                    <ul class="sub-menu" id="submenu-10">
                        <li class="sub-menu--item">
                            <a href="support.html">Support</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-item-has-children">
            <a href="#" class="nav-link-item drop-trigger">Blogs <i class="fas fa-angle-down"></i>
            </a>
            <ul class="sub-menu" id="submenu-11">
                <li class="sub-menu--item">
                    <a href="blog-1.html">Blog One</a>
                </li>
                <li class="sub-menu--item">
                    <a href="blog-2.html">Blog Two</a>
                </li>
                <li class="sub-menu--item">
                    <a href="blog-details-1.html">Blog Details One</a>
                </li>
                <li class="sub-menu--item">
                    <a href="blog-details-2.html">Blog Details Two</a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-item-has-children">
            <a href="contact.html" class="nav-link-item drop-trigger">Contact
            </a>
        </li>
    </ul>
{% endmacro %}
