{% macro render(root, elemroot, hideMegamenu, dropdownStyle2, megamenuPosition) %}
    <ul class="site-menu-main">
        <li class="nav-item nav-item-has-children">
            <a href="#" class="nav-link-item drop-trigger">Home <i class="fas fa-angle-down"></i>
            </a>
            <ul class="sub-menu" id="submenu-1">
                <li class="sub-menu--item">
                    <a href="index.html">Landing 1</a>
                </li>
                <li class="sub-menu--item">
                    <a href="landing-2.html">Landing 2</a>
                </li>
                <li class="sub-menu--item">
                    <a href="landing-3.html">Landing 3</a>
                </li>
                <li class="sub-menu--item">
                    <a href="landing-4.html">Landing 4</a>
                </li>
                <li class="sub-menu--item">
                    <a href="landing-5.html">Landing 5</a>
                </li>
                <li class="sub-menu--item">
                    <a href="landing-6.html">Landing 6</a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-item-has-children">
            <a href="#" class="nav-link-item drop-trigger">Pages <i class="fas fa-angle-down"></i>
            </a>
            <ul class="sub-menu" id="submenu-2">
                <li class="sub-menu--item">
                    <a href="about-us.html">About Us</a>
                </li>
                <li class="sub-menu--item nav-item-has-children">
                    <a href="#" data-menu-get="h3" class="drop-trigger">Careers<i class="fas fa-angle-right"></i>
                    </a>
                    <ul class="sub-menu" id="submenu-9">
                        <li class="sub-menu--item">
                            <a href="careers.html">Careers</a>
                        </li>
                        <li class="sub-menu--item">
                            <a href="careers-details.html">Careers Details</a>
                        </li>
                    </ul>
                </li>
                <li class="sub-menu--item nav-item-has-children">
                    <a href="#" data-menu-get="h3" class="drop-trigger">Account<i class="fas fa-angle-right"></i>
                    </a>
                    <ul class="sub-menu" id="submenu-9">
                        <li class="sub-menu--item">
                            <a href="signup.html">Sign Up</a>
                        </li>
                    </ul>
                </li>
                <li class="sub-menu--item nav-item-has-children">
                    <a href="#" data-menu-get="h3" class="drop-trigger">Utility<i class="fas fa-angle-right"></i>
                    </a>
                    <ul class="sub-menu" id="submenu-10">
                        <li class="sub-menu--item">
                            <a href="error.html">404</a>
                        </li>
                        <li class="sub-menu--item">
                            <a href="commingsoon.html">Comming Soon</a>
                        </li>
                        <li class="sub-menu--item">
                            <a href="support.html">Support</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-item-has-children">
            <a href="#" class="nav-link-item drop-trigger">Blogs <i class="fas fa-angle-down"></i>
            </a>
            <ul class="sub-menu" id="submenu-11">
                <li class="sub-menu--item">
                    <a href="blog.html">Blog</a>
                </li>
                <li class="sub-menu--item">
                    <a href="blog-details.html">Blog Details</a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-item-has-children">
            <a href="contact.html" class="nav-link-item drop-trigger">Contact
            </a>
        </li>
    </ul>
{% endmacro %}
