{% macro render(args) %}
    <div class="about-section-03 bg-white-lilac">
        <div class="container">
            <div class="row">
                <div class="section-title-block text-center">
                    <h6 class="subtitle mb-10 text-primary">Manage Every Single Updates</h6>
                    <h2 class="title">Powerful Tool For Your Team</h2>
                </div>
            </div>
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-6 col-lg-8 col-md-9 order-xl-2">
                    <div class="about-section-03__image-group">
                        <img src="./image/l-3/about.png" alt="about" class="w-100">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7 col-md-9 order-xl-1">
                    <div class="about-section-03__widget">
                        <div class="about-wdidget-01">
                            <div class="widget-icon">
                                <img src="./image/l-3/about-w-1.svg" alt="wdidget-icon" class="make-it-inline">
                            </div>
                            <div class="wdidget-content">
                                <h6>Realtime Collaboration</h6>
                                <p>In the fast-paced world of modern technology, many leadership executives and organizations understand that building online communities.</p>
                            </div>
                        </div>
                        <div class="about-wdidget-01">
                            <div class="widget-icon">
                                <img src="./image/l-3/about-w-2.svg" alt="wdidget-icon" class="make-it-inline">
                            </div>
                            <div class="wdidget-content">
                                <h6>Realtime Collaboration</h6>
                                <p>In the fast-paced world of modern technology, many leadership executives and organizations understand that building online communities.</p>
                            </div>
                        </div>
                        <div class="about-wdidget-01">
                            <div class="widget-icon">
                                <img src="./image/l-3/about-w-3.svg" alt="wdidget-icon" class="make-it-inline">
                            </div>
                            <div class="wdidget-content">
                                <h6>Realtime Collaboration</h6>
                                <p>In the fast-paced world of modern technology, many leadership executives and organizations understand that building online communities.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
