{% macro render(args) %}
    <div class="content-section-03">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-6 col-lg-6 col-md-9">
                    <div class="content-section-03__image-group">
                        <img src="./image/l-3/content-03.png" alt="content-img" class="w-100">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-9">
                    <div class="content-section-03__content section-content-block">
                        <h6 class="subtitle mb-10 text-primary">Collaboration</h6>
                        <h2 class="title">Work & Share With Your Team</h2>
                        <p class="text-dark">We design & build brand, campaigns & digital projects for business large & small with customer experiences. Due to its fo widespread use as filler text for layouts, non-readability is of great importance human perception.</p>
                        <div class="content-section-03__content--list content-list-01">
                            <ul class="list-group list-unstyled">
                                <li><span>
                                    
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="10" cy="10" r="10" fill="#36CD77"/>
                                <path d="M13.3337 7.5L8.75033 12.0833L6.66699 10" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>

                                </span> Bestkit cards are your portal to more organized work</li>
                                <li><span>
                                    
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="10" cy="10" r="10" fill="#36CD77"/>
                                    <path d="M13.3337 7.5L8.75033 12.0833L6.66699 10" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>

                                </span> Every single part of your task can be managed, tracked, and shared</li>
                            </ul>
                        </div>
                        <a class="btn btn-1 btn-primary" href="#">
                            Learn More
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 13L7 7L1 1" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
