{% macro render(args) %}
    <div class="content-section-02">
        <div class="contaienr">
            <div class="row">
                <div class="col-xl-6"></div>
                <div class="col-xl-6"></div>
            </div>
        </div>
    </div>
{% endmacro %}
