{% macro render(args) %}
    <div class="cta-section-03">
        <div class="container">
            <div class="cta-section-03__wrapper">
            <div class="cta-section-03__wrapper--shape">
                <img src="./image/l-3/cta-shape.png" alt="shape" class="mw-100">
            </div>
                <div class="section-content-block text-center text-lg-start">
                    <h2 class="title text-white">Get Started By <br> Downloading Apps</h2>
                </div>
                <div class="content-button mt-4 mt-lg-0">
                    <a class="btn btn-1 btn-primary" href="#">
                       Download Desktop Apps
                        <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 13L7 7L1 1" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                            
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
