{% macro render(args) %}
    <div class="hero-section-03 bg-white-lilac">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-9">
                    <div class="hero-section-03__content page-title-block-two text-center">
                        <h2 class="title">Manage Your Projects & Connect With Team Easily With Bestkit</h2>
                        <p class="text-dark">The intelligent way to manage your projects.</p>
                        <div class="hero-section-03__content--newsletter hero-newsletter-01">
                            <form action="#">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter your mail address">
                                    <div class="icon">
                                        <img src="./image/l-2/mail.png" alt="mail">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-secondary">
                                    Sign-Up. It’s Free!
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="hero-section-03__image-group">
                        <img src="./image/l-3/dashboard.png" alt="dashboard" class="w-100">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
