{% macro render(args) %}
<div class="pricing-section-01">
    <div class="container">
        <div class="row justify-content-center">
            <div class="section-title-block text-center">
                <h6 class="subtitle text-primary mb-10">Pricing PLan</h6>
                <h2 class="title">Choose Your Pricing Plan</h2>
            </div>
            <div class="slideToggle">
                <label class="form-switch">
                  <span class="beforeinput text-success">
                    Monthly
                  </span>
                  <input type="checkbox" id="js-contcheckbox">
                  <i></i>
                  <span class="afterinput">
                    Annual
                  </span>
                </label>
              </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 col-sm-8 col-xs-10 col-11">
                <div class="row pricing-section-01__wrapper four-row-mobile-slider mobile-slider">
                    <div class="col-xxl-3 col-xl-4">
                        <div class="pricingtable">
                            <div class="price-head">
                                <div class="price-head__text">
                                    <h6>Intro</h6>
                                </div>
                            </div>
                            <ul class="list-group list-unstyled">
                                <li>
                                    <span>
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 4.5L6.75 12.75L3 9" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
        
                                </span> Workspace Table view</li>
                                <li> <span>
                                    
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 4.5L6.75 12.75L3 9" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
        
                                </span> Unlimited storage up to (10MB/file)</li>
                                <li class="disable"> <span>
                                    
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 4.5L6.75 12.75L3 9" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
        
                                </span> 1 Power-Up per board</li>
                                <li class="disable"> <span>
                                    
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 4.5L6.75 12.75L3 9" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
        
                                </span> Unlimited activity log</li>
                                <li class="disable"> <span>
                                    
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 4.5L6.75 12.75L3 9" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
        
                                </span> Advanced checklists</li>
                                <li class="pricingtable__highlight js-montlypricing">$<span>50</span>/Month</li>
                                <li class="pricingtable__highlight js-yearlypricing">$<span>100</span>/Yearly</li>
                            <li class="pricingtable__btn">
                              <button class="btn btn-outline-primary w-100">
                                Choose Now
                                <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13L7 7L1 1" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                              </button>
                            </li>
                          </ul>
                          </div>
                    </div>
                    <div class="col-xxl-3 col-xl-4">
                        <div class="pricingtable">
                            <div class="price-head">
                                <div class="price-head__text">
                                    <h6>Base</h6>
                                </div>
                            </div>
                            <ul class="list-group list-unstyled">
                                <li>
                                    <span>
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 4.5L6.75 12.75L3 9" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
        
                                </span> Workspace Table view</li>
                                <li> <span>
                                    
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 4.5L6.75 12.75L3 9" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
        
                                </span> Unlimited storage up to (10MB/file)</li>
                                <li> <span>
                                    
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 4.5L6.75 12.75L3 9" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
        
                                </span> 1 Power-Up per board</li>
                                <li class="disable"> <span>
                                    
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 4.5L6.75 12.75L3 9" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
        
                                </span> Unlimited activity log</li>
                                <li class="disable"> <span>
                                    
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 4.5L6.75 12.75L3 9" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
        
                                </span> Advanced checklists</li>
                                <li class="pricingtable__highlight js-montlypricing">$<span>100</span>/Month</li>
                                <li class="pricingtable__highlight js-yearlypricing">$<span>200</span>/Yearly</li>
                            <li class="pricingtable__btn">
                              <button class="btn btn-outline-primary w-100">
                                Choose Now
                                <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13L7 7L1 1" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                              </button>
                            </li>
                          </ul>
                          </div>
                    </div>
                    <div class="col-xxl-3 col-xl-4">
                        <div class="pricingtable active">
                            <div class="price-head">
                                <div class="price-head__text">
                                    <h6>Pro</h6>
                                </div>
                                <div class="price-head__badge">
                                    <span class="badge text-primary bg-white">Save 40%</span>
                                </div>
                            </div>
                            <ul class="list-group list-unstyled">
                                <li>
                                    <span>
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 4.5L6.75 12.75L3 9" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
        
                                </span> Workspace Table view</li>
                                <li> <span>
                                    
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 4.5L6.75 12.75L3 9" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
        
                                </span> Unlimited storage up to (10MB/file)</li>
                                <li> <span>
                                    
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 4.5L6.75 12.75L3 9" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
        
                                </span> 1 Power-Up per board</li>
                                <li> <span>
                                    
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 4.5L6.75 12.75L3 9" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
        
                                </span> Unlimited activity log</li>
                                <li class="disable"> <span>
                                    
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 4.5L6.75 12.75L3 9" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
        
                                </span> Advanced checklists</li>
                                <li class="pricingtable__highlight js-montlypricing">$<span>200</span>/Month</li>
                                <li class="pricingtable__highlight js-yearlypricing">$<span>400</span>/Yearly</li>
                            <li class="pricingtable__btn">
                              <button class="btn btn-outline-primary w-100">
                                Choose Now
                                <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13L7 7L1 1" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                              </button>
                            </li>
                          </ul>
                          </div>
                    </div>
                    <div class="col-xxl-3 col-xl-4">
                        <div class="pricingtable">
                            <div class="price-head">
                                <div class="price-head__text">
                                    <h6>Enterprise</h6>
                                </div>
                            </div>
                            <ul class="list-group list-unstyled">
                                <li>
                                    <span>
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 4.5L6.75 12.75L3 9" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
        
                                </span> Workspace Table view</li>
                                <li> <span>
                                    
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 4.5L6.75 12.75L3 9" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
        
                                </span> Unlimited storage up to (10MB/file)</li>
                                <li> <span>
                                    
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 4.5L6.75 12.75L3 9" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
        
                                </span> 1 Power-Up per board</li>
                                <li> <span>
                                    
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 4.5L6.75 12.75L3 9" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
        
                                </span> Unlimited activity log</li>
                                <li> <span>
                                    
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 4.5L6.75 12.75L3 9" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
        
                                </span> Advanced checklists</li>
                                <li class="pricingtable__highlight js-montlypricing">$<span>250</span>/Month</li>
                                <li class="pricingtable__highlight js-yearlypricing">$<span>500</span>/Yearly</li>
                            <li class="pricingtable__btn">
                              <button class="btn btn-outline-primary w-100">
                                Choose Now
                                <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13L7 7L1 1" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                              </button>
                            </li>
                          </ul>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
