{% macro render(args) %}
    <div class="about-content-section-01">
        <div class="container">
            <div class="about-content-section-01__content">
                <div class="row align-items-center align-items-xxl-end justify-content-center">
                    <div class="col-xl-6 col-lg-9 col-md-10">
                        <div class="section-title-block content-one text-center text-xl-start">
                            <h6 class="subtitle text-primary mb-10">About our company</h6>
                            <h2 class="title">We Treat Our Clients Friendly with An Unparalleled Level of Service.</h2>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-9 col-md-10">
                        <div class="section-title-block content-tow text-center text-xl-start">
                            <p class="text-dark">Euismod aliquet odio cursus lacus, ut sit suspendisse ultrices. Etiam enim risus faucibus feugiat ut enim in sed tincidunt. Eu in justo, eu porttitor vivamus neque, libero diam.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-content-section-01__image-group">
                <img src="./image/about/content-1.png" alt="content-image" class="w-100">
            </div>
        </div>
    </div>
{% endmacro %}
