{% macro render(args) %}
    <div class="faq-section-03">
        <div class="container">
            <div class="faq-section-03__wrapper">
                <div class="single-item">
                    <img src="./image/logo/microsoft.png" alt="microsoft">
                </div>
                <div class="single-item">
                    <img src="./image/logo/hubspot.png" alt="hubspot">
                </div>
                <div class="single-item">
                    <img src="./image/logo/slack.png" alt="slack">
                </div>
                <div class="single-item">
                    <img src="./image/logo/trustpilot.png" alt="trustpilot">
                </div>
                <div class="single-item">
                    <img src="./image/logo/xboxone.png" alt="xboxone">
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
