{% macro render(args) %}
    <div class="about-section">
        <div class="container">
            <div class="row justify-content-center align-items-baseline align-items-xl-center">
                <div class="section-content-block text-center text-lg-start">
                    <h2 class="title">Boost your <span class="text-see-green">marketing</span> to <br class="d-none d-xs-block"> reach more people</h2>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-8 col-sm-9 col-xs-10">
                    <div class="about-section__image-group">
                        <img src="./image/home/about.png" alt="about" class="w-100">
                        <div class="content-card-style-one content-card bg-amber" data-aos="fade-right" data-aos-duration="500" data-aos-delay="800">
                            <div class="icon">
                                <img src="./image/icons/shake.svg" alt="shake" class="mw-100">
                            </div>
                            <h4 class="title heading-dark">We build marketing strategy for your business</h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 offset-xl-1 col-lg-6 col-md-8 col-sm-9 col-xs-10">
                    <div class="about-section__content" data-aos="fade-up" data-aos-duration="500" data-aos-delay="800">
                        <p class="text-dark text-18">
                        <span class="pb-4">A marketing consultant is an outside advisor who works with companies to create and implement marketing strategies. A consultant helps create a detailed marketing plan, determine a business's marketing message, and identify the appropriate marketing mix to get  the target market.</span>
                        We offers a large set of services to help new online business owners build an effective digital marketing strategy which is step one towards success in the online business world.
                        </p>
                        <a class="btn btn-link" href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
