{% macro render(args) %}
    <div class="fact-section">
        <div class="container">
            <div class="row justify-content-center widgets-row">
                <div class="col-xl-3 col-xs-6">
                    <div class="widget-counter">
                        <div class="widget-counter--icon">
                            <img src="./image/icons/fact-icon-1.svg" alt="fact-icon">
                        </div>
                        <div class="widget-title-block">
                            <h3 class="title"><span class="counter">98</span>%</h3>
                            <p class="text text-dark">Consulting success</p>
                          </div>
                    </div>
                </div>
                <div class="col-xl-3 col-xs-6">
                    <div class="widget-counter">
                        <div class="widget-counter--icon">
                            <img src="./image/icons/fact-icon-2.svg" alt="fact-icon">
                        </div>
                        <div class="widget-title-block">
                            <h3 class="title"><span class="counter">18</span></h3>
                            <p class="text text-dark">Awards winner</p>
                          </div>
                    </div>
                </div>
                <div class="col-xl-3 col-xs-6">
                    <div class="widget-counter">
                        <div class="widget-counter--icon">
                            <img src="./image/icons/fact-icon-3.svg" alt="fact-icon">
                        </div>
                        <div class="widget-title-block">
                            <h3 class="title"><span class="counter">1560</span>+</h3>
                            <p class="text text-dark">Happy customers</p>
                          </div>
                    </div>
                </div>
                <div class="col-xl-3 col-xs-6">
                    <div class="widget-counter">
                        <div class="widget-counter--icon">
                            <img src="./image/icons/fact-icon-4.svg" alt="fact-icon">
                        </div>
                        <div class="widget-title-block">
                            <h3 class="title"><span class="counter">130</span></h3>
                            <p class="text text-dark">Countries Worldwide</p>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
