{% macro render(args) %}
<div class="features-section">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-8 col-sm-9 col-xs-10 offset-xl-1 order-lg-2">
                <div class="features-section__image mb-lg-30">
                    <img src="./image/home/features.png" alt="content-img" class="w-100">
                    <div class="content-card-style-two content-card bg-see-green" data-aos="fade-left" data-aos-duration="500" data-aos-delay="800">
                        <span>15</span>
                        <h4 class="title">Years of experience</h4>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6 col-xs-10 col-md-8 col-sm-9 order-lg-1">
                <div class="section-content-block features-content-block" data-aos="fade-up" data-aos-duration="500" data-aos-delay="800">
                    <h2 class="title mb-20">Get incredible marketing concepts</h2>
                    <p class="text text-dark">With trust at the foundation of client acquisition, everything you say and do is being evaluated by potential clients.</p>
                    <ul class="content-list">
                        <li class="text-18 text-dark"> 
                            <div class="icon">
                                <svg width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.99997 8.58597L1.70697 5.29297L0.292969 6.70697L4.99997 11.414L14.707 1.70697L13.293 0.292969L4.99997 8.58597Z" fill="#057689"/>
                                </svg>
                            </div> 
                            Realistic marketing advertisement 
                        </li>
                        <li class="text-18 text-dark"> 
                            <div class="icon">
                                <svg width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.99997 8.58597L1.70697 5.29297L0.292969 6.70697L4.99997 11.414L14.707 1.70697L13.293 0.292969L4.99997 8.58597Z" fill="#057689"/>
                                </svg>
                            </div> 
                            In-depth market analysis 
                        </li>
                        <li class="text-18 text-dark"> 
                            <div class="icon">
                                <svg width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.99997 8.58597L1.70697 5.29297L0.292969 6.70697L4.99997 11.414L14.707 1.70697L13.293 0.292969L4.99997 8.58597Z" fill="#057689"/>
                                </svg>
                            </div> 
                            Customer driven data collection 
                        </li>
                        <li class="text-18 text-dark"> 
                            <div class="icon">
                                <svg width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.99997 8.58597L1.70697 5.29297L0.292969 6.70697L4.99997 11.414L14.707 1.70697L13.293 0.292969L4.99997 8.58597Z" fill="#057689"/>
                                </svg>
                            </div> 
                            Online & mass media ad campaign 
                        </li>
                    </ul>
                    <a class="btn btn-primary btn-primary-hvr btn-w-arrow btn-arrow-anim-01" href="#">
                        Get Free Consultation <i><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                            <g fill="none" stroke="#020C17" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10">
                                <circle class="arrow-icon--circle" cx="16" cy="16" r="15.12"></circle>
                                <path class="arrow-icon--arrow" d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98"></path>
                            </g>
                        </svg></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
