{% macro render(args) %}
<div class="hero-section-01 bg-white-lilac">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xxl-6">
                <div class="hero-seceton-01__content hero-content">
                    <h6 class="subtitle">Hello Mate 👋</h6>
                    <h1 class="title">I’m Michle Smith a Web Developer</h1>
                    <p>Hi, I'm Michle a freelance web designer from San-Francisco. I help brands turn their ideas into high quality products.</p>
                </div>
            </div>
            <div class="col-xxl-5 offset-xxl-1">
                <div class="hero-section-01__image-group">
                    <img src="./image/l-1/hero.png" alt="hero-img" class="mw-100">
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
