{% macro render(option) %}
    <div class="testimonial-section overflow-hidden" data-aos="fade-up">
        <div class="testimonial-section__shape d-none d-xs-block {{option.ClassName}}">
            <div class="shape-box">
                <div class="shape-1 floating-Y-animation">
                    <img src="./image/home/t-shape-1.png" alt="shape" class="mw-100">
                </div>
                <div class="shape-2 floating-Y-animation">
                    <img src="./image/home/t-shape-2.png" alt="shape" class="mw-100">
                </div>
                <div class="shape-3 floating-Y-animation">
                    <img src="./image/home/t-shape-3.png" alt="shape" class="mw-100">
                </div>
                <div class="shape-4 floating-Y-animation">
                    <img src="./image/home/t-shape-4.png" alt="shape" class="mw-100">
                </div>
                <div class="shape-5 floating-Y-animation">
                    <img src="./image/home/t-shape-5.png" alt="shape" class="mw-100">
                </div>
            </div>
            <div class="shape-line">
                <div class="line-1"></div>
                <div class="line-2"></div>
                <div class="line-3"></div>
                <div class="line-4"></div>
                <div class="line-5"></div>
            </div>
        </div>
       <div class="container">
            <div class="section-content-block text-center">
                <h2 class="title">Clients’ thoughts</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8 col-md-10">
                    <div class="testimonial-wrapper">
                        <div class="testimonail-active text-center">
                            <div class="singel-slider">
                                <div class="card-testimonial text-center">
                                    <h5 class="text-24 title">“ Our experience with your agency has been amazingly satisfying so far. The company I work with is happy to let you know that we are a regular customer and look forward to our cooperation soon! ”</h5>
                                    <div class="client-info">
                                        <h6 class="name">Muskan Juberi </h6>
                                        <span class="position text-18"> CEO of talcom digital</span>
                                    </div>
                                </div>
                            </div>
                            <div class="singel-slider">
                                <div class="card-testimonial text-center">
                                    <h5 class="text-24 title">“ Our experience with your agency has been amazingly satisfying so far. The company I work with is happy to let you know that we are a regular customer and look forward to our cooperation soon! ”</h5>
                                    <div class="client-info">
                                        <h6 class="name">Juberi Muskan</h6>
                                        <span class="position text-18"> CEO of talcom digital</span>
                                    </div>
                                </div>
                            </div>
                            <div class="singel-slider">
                                <div class="card-testimonial text-center">
                                    <h5 class="text-24 title">“ Our experience with your agency has been amazingly satisfying so far. The company I work with is happy to let you know that we are a regular customer and look forward to our cooperation soon! ”</h5>
                                    <div class="client-info">
                                        <h6 class="name">Azad vai</h6>
                                        <span class="position text-18"> CEO of talcom digital</span>
                                    </div>
                                </div>
                            </div>
                            <div class="singel-slider">
                                <div class="card-testimonial text-center">
                                    <h5 class="text-24 title">“ Our experience with your agency has been amazingly satisfying so far. The company I work with is happy to let you know that we are a regular customer and look forward to our cooperation soon! ”</h5>
                                    <div class="client-info">
                                        <h6 class="name">Martin Hedges</h6>
                                        <span class="position text-18"> CEO of talcom digital</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-img-active text-center">
                            <div class="test-img-item">
                                <img src="./image/home/t-1.png" alt="testimonail-img" class="w-100">
                            </div>
                            <div class="test-img-item">
                                <img src="./image/home/t-2.png" alt="testimonail-img" class="w-100">
                            </div>
                            <div class="test-img-item">
                                <img src="./image/home/t-3.png" alt="testimonail-img" class="w-100">
                            </div>
                            <div class="test-img-item">
                                <img src="./image/home/t-4.png" alt="testimonail-img" class="w-100">
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
       </div> 
    </div>
{% endmacro %}
