{% macro render(args) %}
    <div class="about-section-04 bg-white-lilac">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-5 col-lg-8 col-md-8">
                    <div class="about-section-04__image-group">
                        <img src="./image/l-4/about.png" alt="about" class="w-100">
                        <div class="about-section-04__image-group--card">
                            <div class="about-img-card">
                                <img src="./image/l-4/about-card.png" alt="about-card" class=" w-100">
                                <div class="video-button">
                                    <a href="https://www.youtube.com/watch?v=TBQ_HkNZDCM" data-fancybox class="video-btn sonar-emitter-2">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_223_5975)">
                                        <path d="M1.14258 0L14.8569 8L1.14258 16V0Z" fill="#008AFF"/>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_223_5975">
                                        <rect width="16" height="16" fill="white"/>
                                        </clipPath>
                                        </defs>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 offset-xl-1 col-lg-8">
                    <div class="about-section-04__content section-content-block">
                        <h6 class="subtitle mb-10 text-primary">About Us</h6>
                        <h2 class="title">We Have Lots Of Experience For
                            Boost Your Website Traffic</h2>
                            <span>25+ Years Of Experience In Marketing Services</span>
                        <p class=" text-dark">With lots of unique blocks, you can easily build a page without coding. Build your next landing page. With lots of unique blocks, you can easily build a pages for an without coding any other pages & template.</p>
                        <div class="about-section-04__content--card">
                            <div class="icon">
                                <img src="./image/l-4/target.svg" alt="target">                         
                            </div>
                            <div class="content">
                                <h6>Our Business Goal</h6>
                                <p>With lots of unique block you can easily builds page without coding. Build your next landing page.</p>
                            </div>
                        </div>
                        <a class="btn btn-primary" href="#">
                            Know More
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 13L7 7L1 1" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
