{% macro render(args) %}
{% import "components/cards.njk" as Card %}

{% set cardData =[
        {
        id:1,
        comment:"3 Comments",
        date:"09 May, 21",
        img:"./image/l-4/blog-1.png",
        title:"Determing Marketing Budget Can be Frustrating.",
        text:"Sed ut perspiciatis unde omnis is natus error sit voluptatem accusantium dolore mque laudantium totam"
        },
        {
        id:2,
        comment:"3 Comments",
        date:"09 May, 21",
        img:"./image/l-4/blog-2.png",
        title:"How to Win The Attention of New Clients: Tips & Tricks",
        text:"Sed ut perspiciatis unde omnis is natus error sit voluptatem accusantium dolore mque laudantium totam"
        },
        {
        id:3,
        comment:"3 Comments",
        date:"09 May, 21",
        img:"./image/l-4/blog-3.png",
        title:"Business Agencies vs Advertising Agencies",
        text:"Sed ut perspiciatis unde omnis is natus error sit voluptatem accusantium dolore mque laudantium totam"
        }


]%}
<div class="blog-section-02">
    <div class="container">
        <div class="row align-items-center justify-content-center blog-section-02__content">
            <div class="col-sm-6">
                <div class="section-content-block text-center text-sm-start">
                    <h6 class="subtitle text-primary mb-10">Blog & News</h6>
                    <h2 class="title">Our Latest Blog & News</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="section-button text-center mt-4 mt-sm-0 text-sm-end">
                    <a class="btn btn-1 btn-primary" href="#">
                        Read Our Blogs
                        <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 13L7 7L1 1" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="row card-row justify-content-center">
            {% for item in cardData%}
                <div class="col-md-6 col-xl-4" data-aos="fade-up" data-aos-delay="{{ 200 * item.id }}" data-aos-duration="1000">
                    <a href="blog.html" class="d-block">
                        {{Card.BlogCardTwo({
                        img:item.img,
                        date:item.date,
                        text:item.text,
                        comment:item.comment,
                        title:item.title
                        })}}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>              
</div>
{% endmacro %}
