{% macro render(options) %}
    <div class="brand-section-04">
        <div class="container brand-section-04__line">
            <div class="row">
                <div class="brand-section-04__title section-title-block text-center">
                    <h6 class="subtitle">PROUD MARKETING <span class="text-primary d-inline">PARTNERS</span> WITH</h6>
                </div>
            </div>
            <div class="row justify-content-center">
                    <div class="brand-section-04__group">
                        <div class="single-brand">
                            <img src="./image/l-4/logo-1.png" alt="sponsor">
                        </div>
                        <div class="single-brand">
                            <img src="./image/l-4/logo-2.png" alt="sponsor">
                        </div>
                        <div class="single-brand">
                            <img src="./image/l-4/logo-3.png" alt="sponsor">
                        </div>
                        <div class="single-brand">
                            <img src="./image/l-4/logo-4.png" alt="sponsor">
                        </div>
                        <div class="single-brand">
                            <img src="./image/l-4/logo-5.png" alt="sponsor">
                        </div>
                        <div class="single-brand">
                            <img src="./image/l-4/logo-6.png" alt="sponsor">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endmacro %}
