{% macro render(args) %}
<div class="content-section-04">
     <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-xl-6 col-lg-8 order-xl-2">
                <div class="content-section-04__image-group">
                    <img src="./image/l-4/content-1.png" alt="content-img" class="w-100">
                </div>
            </div>
            <div class="col-xl-6 col-lg-8 order-xl-1">
                <div class="content-section-04__content section-content-block">
                    <h6 class="subtitle text-primary mb-10">Why Choose Bestkit?</h6>
                    <h2 class="title">We Have Lots Of Experience For
                        Boost Your Website Traffic</h2>
                    <div class="content-section-04__content--widget-list content-list-02 pr-xxl-40">
                        <div class="content-list-wrapper">
                            <div class="list">1</div>
                            <div class="content">
                                <h6>Professional Team Members</h6>
                                <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page. With lots of unique blocks, you can easily build.</p>
                            </div>
                        </div>
                        <div class="content-list-wrapper">
                            <div class="list">2</div>
                            <div class="content">
                                <h6>Increase Your Company Growth</h6>
                                <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page. With lots of unique blocks, you can easily build.</p>
                            </div>
                        </div>
                        <div class="content-list-wrapper">
                            <div class="list">3</div>
                            <div class="content">
                                <h6>24/7 Strong Customer Support</h6>
                                <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page. With lots of unique blocks, you can easily build.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>      
</div>
{% endmacro %}
