{% macro render(args) %}
    <div class="counter-section-03">
        <div class="container">
            <div class="counter-section-03__wrapper">
                <div class="count-block section-content-block text-center">
                    <h3 class="title text-primary"><span class="counter">100</span>+</h3>
                    <p class="text-dark">Our Professional Team</p>
                </div>
                <div class="count-block section-content-block text-center">
                    <h3 class="title text-primary"><span class="counter">100</span>+</h3>
                    <p class="text-dark">Years of Experience</p>
                </div>
                <div class="count-block section-content-block text-center">
                    <h3 class="title text-primary"><span class="counter">100</span>+</h3>
                    <p class="text-dark">Winning Award</p>
                </div>
                <div class="count-block section-content-block text-center">
                    <h3 class="title text-primary"><span class="counter">97</span>+</h3>
                    <p class="text-dark">Happy Customer</p>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
