{% macro render(args) %}
<div class="pricing-section-02 bg-white-lilac">
    <div class="container">
        <div class="row justify-content-center">
            <div class="section-title-block text-center">
                <h6 class="subtitle text-primary mb-10">Pricing PLan</h6>
                <h2 class="title">Choose Your Pricing Plan</h2>
            </div>
            <div class="slideToggle">
                <label class="form-switch">
                  <span class="beforeinput text-success">
                    Monthly
                  </span>
                  <input type="checkbox" id="js-contcheckbox">
                  <i></i>
                  <span class="afterinput">
                    Annual
                  </span>
                </label>
              </div>
        </div>
        <div class="pricing-section-02__wrapper">
            <div class="card-price-02">
                <div class="price-head">
                    <ul class="price-head__price list-group list-unstyled">
                        <li class="js-montlypricing">$ 89.00</li>
                        <li class="js-yearlypricing">$ 178.00</li>
                    </ul>
                    <div class="price-head__text">
                        <h6>Basic Plan</h6>
                    </div>
                </div>
                <ul class="list-group list-unstyled">
                    <li>
                        <span>
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 4.5L6.75 12.75L3 9" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>

                    </span> Rich landing pages</li>
                    <li> <span>
                        
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 4.5L6.75 12.75L3 9" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>

                    </span> 100+ Unique Components</li>
                    <li> <span>
                        
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 4.5L6.75 12.75L3 9" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>

                    </span> Speedy build tooling</li>
                    <li> <span>
                        
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 4.5L6.75 12.75L3 9" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>

                    </span> 6 months free support</li>
                <li class="card-price-02__btn">
                  <button class="btn btn-outline-primary w-100">
                    Purchase Your Plan
                    <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 13L7 7L1 1" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </button>
                </li>
              </ul>
            </div>    
            <div class="card-price-02 active">
                <div class="price-head">
                    <ul class="price-head__price list-group list-unstyled">
                        <li class="js-montlypricing">$ 189.00</li>
                        <li class="js-yearlypricing">$ 400.00</li>
                    </ul>
                    <div class="price-head__text">
                        <h6>Basic Plan</h6>
                    </div>
                </div>
                <ul class="list-group list-unstyled">
                    <li>
                        <span>
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 4.5L6.75 12.75L3 9" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>

                    </span> Rich landing pages</li>
                    <li> <span>
                        
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 4.5L6.75 12.75L3 9" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>

                    </span> 100+ Unique Components</li>
                    <li> <span>
                        
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 4.5L6.75 12.75L3 9" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>

                    </span> Speedy build tooling</li>
                    <li> <span>
                        
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 4.5L6.75 12.75L3 9" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>

                    </span> 6 months free support</li>
                    <li> <span>
                        
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 4.5L6.75 12.75L3 9" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>

                    </span> Guaranteed 100% uptime</li>
                <li class="card-price-02__btn">
                  <button class="btn btn-outline-primary w-100">
                    Purchase Your Plan
                    <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 13L7 7L1 1" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </button>
                </li>
              </ul>
            </div>    
            <div class="card-price-02">
                <div class="price-head">
                    <ul class="price-head__price list-group list-unstyled">
                        <li class="js-montlypricing">$ 297.00</li>
                        <li class="js-yearlypricing">$ 500.00</li>
                    </ul>
                    <div class="price-head__text">
                        <h6>Basic Plan</h6>
                    </div>
                </div>
                <ul class="list-group list-unstyled">
                    <li>
                        <span>
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 4.5L6.75 12.75L3 9" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>

                    </span> Rich landing pages</li>
                    <li> <span>
                        
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 4.5L6.75 12.75L3 9" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>

                    </span> 100+ Unique Components</li>
                    <li> <span>
                        
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 4.5L6.75 12.75L3 9" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>

                    </span> Speedy build tooling</li>
                    <li> <span>
                        
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 4.5L6.75 12.75L3 9" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>

                    </span> 6 months free support</li>
                <li class="card-price-02__btn">
                  <button class="btn btn-outline-primary w-100">
                    Purchase Your Plan
                    <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 13L7 7L1 1" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </button>
                </li>
              </ul>
            </div>    
        </div>
    </div>
</div>
{% endmacro %}
