{% macro render(args) %}
    <div class="testimonial-section-05">
            <div class="testimonial-section-05__image-01">
                <img src="./image/l-4/t-1.png" alt="user" class="w-100">
            </div>
            <div class="testimonial-section-05__image-02">
                <img src="./image/l-4/t-2.png" alt="user" class="w-100">
            </div>
            <div class="testimonial-section-05__image-03">
                <img src="./image/l-4/t-3.png" alt="user" class="w-100">
            </div>
            <div class="testimonial-section-05__image-04">
                <img src="./image/l-4/t-4.png" alt="user" class="w-100">
            </div>
            <div class="testimonial-section-05__quote">
                <svg class="d-block" width="169" height="148" viewBox="0 0 169 148" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M166.323 71.3984L118.983 71.3984C106.495 71.3984 97.9247 61.9302 97.9247 50.34L97.9247 24.0577C97.9247 12.4675 106.495 2.99984 118.983 2.99985L145.265 2.99985C156.855 2.99985 166.323 12.4675 166.323 24.0578L166.323 71.3984" stroke="white" stroke-opacity="0.05" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M166.323 71.3978C166.323 120.779 157.1 128.94 129.349 145.428" stroke="white" stroke-opacity="0.05" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M71.3984 71.3984L24.0583 71.3984C11.5702 71.3984 2.99985 61.9302 2.99985 50.34L2.99985 24.0577C2.99985 12.4675 11.5702 2.99984 24.0583 2.99985L50.34 2.99985C61.9302 2.99985 71.3984 12.4675 71.3984 24.0578L71.3984 71.3984" stroke="white" stroke-opacity="0.05" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M71.3975 71.3978C71.3975 120.779 62.1745 128.94 34.4233 145.428" stroke="white" stroke-opacity="0.05" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            
        <div class="container">
            <div class="row justify-content-center">
                <div class="section-title-block text-center">
                    <h6 class="subtitle mb-10 text-primary">Testimonial</h6>
                    <h2 class="titel text-white">What Client’s Say About US</h2>
                </div>
                <div class="col-xl-8 col-lg-10">
                    <div class="testimonial-section-05__slider">
                        <div class="testimonial-slider--05 testimonial-dots-01">
                            <div class="single-slider">
                                <div class="testimonial-card-04">
                                    <div class="card-rating d-flex align-items-center justify-content-center">
                                        <i>
                                            <svg class="d-block" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.4138 0L16.2538 7.89905L24.8276 9.16929L18.6207 15.3186L20.0855 24L12.4138 19.9033L4.74207 24L6.2069 15.3186L0 9.16929L8.57379 7.89905L12.4138 0Z" fill="#FFB53D"/>
                                            </svg>
                                        </i>
                                        <i>
                                            <svg class="d-block" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.4138 0L16.2538 7.89905L24.8276 9.16929L18.6207 15.3186L20.0855 24L12.4138 19.9033L4.74207 24L6.2069 15.3186L0 9.16929L8.57379 7.89905L12.4138 0Z" fill="#FFB53D"/>
                                            </svg>
                                        </i>
                                        <i>
                                            <svg class="d-block" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.4138 0L16.2538 7.89905L24.8276 9.16929L18.6207 15.3186L20.0855 24L12.4138 19.9033L4.74207 24L6.2069 15.3186L0 9.16929L8.57379 7.89905L12.4138 0Z" fill="#FFB53D"/>
                                            </svg>
                                        </i>
                                        <i>
                                            <svg class="d-block" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.4138 0L16.2538 7.89905L24.8276 9.16929L18.6207 15.3186L20.0855 24L12.4138 19.9033L4.74207 24L6.2069 15.3186L0 9.16929L8.57379 7.89905L12.4138 0Z" fill="#FFB53D"/>
                                            </svg>
                                        </i>
                                        <i>
                                            <svg class="d-block" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.4138 0L16.2538 7.89905L24.8276 9.16929L18.6207 15.3186L20.0855 24L12.4138 19.9033L4.74207 24L6.2069 15.3186L0 9.16929L8.57379 7.89905L12.4138 0Z" fill="#FFB53D"/>
                                            </svg>
                                        </i>
                                    </div>
                                    <p class="heading-dark text">“ There are many variation of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of lorem Ipsum  ”</p>
                                    <div class="author-block">
                                        <div class="avatar">
                                            <img src="./image/l-4/user-1.png" alt="user" class="avatar" class="w-100">
                                        </div>
                                        <div class="author-info">
                                            <h6>Jesica Lirona</h6>
                                            <p>Front End Developer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slider">
                                <div class="testimonial-card-04">
                                    <div class="card-rating d-flex align-items-center justify-content-center">
                                        <i>
                                            <svg class="d-block" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.4138 0L16.2538 7.89905L24.8276 9.16929L18.6207 15.3186L20.0855 24L12.4138 19.9033L4.74207 24L6.2069 15.3186L0 9.16929L8.57379 7.89905L12.4138 0Z" fill="#FFB53D"/>
                                            </svg>
                                        </i>
                                        <i>
                                            <svg class="d-block" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.4138 0L16.2538 7.89905L24.8276 9.16929L18.6207 15.3186L20.0855 24L12.4138 19.9033L4.74207 24L6.2069 15.3186L0 9.16929L8.57379 7.89905L12.4138 0Z" fill="#FFB53D"/>
                                            </svg>
                                        </i>
                                        <i>
                                            <svg class="d-block" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.4138 0L16.2538 7.89905L24.8276 9.16929L18.6207 15.3186L20.0855 24L12.4138 19.9033L4.74207 24L6.2069 15.3186L0 9.16929L8.57379 7.89905L12.4138 0Z" fill="#FFB53D"/>
                                            </svg>
                                        </i>
                                        <i>
                                            <svg class="d-block" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.4138 0L16.2538 7.89905L24.8276 9.16929L18.6207 15.3186L20.0855 24L12.4138 19.9033L4.74207 24L6.2069 15.3186L0 9.16929L8.57379 7.89905L12.4138 0Z" fill="#FFB53D"/>
                                            </svg>
                                        </i>
                                        <i>
                                            <svg class="d-block" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.4138 0L16.2538 7.89905L24.8276 9.16929L18.6207 15.3186L20.0855 24L12.4138 19.9033L4.74207 24L6.2069 15.3186L0 9.16929L8.57379 7.89905L12.4138 0Z" fill="#FFB53D"/>
                                            </svg>
                                        </i>
                                    </div>
                                    <p class="heading-dark text">“ There are many variation of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of lorem Ipsum ”</p>
                                    <div class="author-block">
                                        <div class="avatar">
                                            <img src="./image/l-4/user-3.png" alt="user" class="avatar" class="w-100">
                                        </div>
                                        <div class="author-info">
                                            <h6>Emma Simian</h6>
                                            <p>Full Stack Developer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slider">
                                <div class="testimonial-card-04">
                                    <div class="card-rating d-flex align-items-center justify-content-center">
                                        <i>
                                            <svg class="d-block" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.4138 0L16.2538 7.89905L24.8276 9.16929L18.6207 15.3186L20.0855 24L12.4138 19.9033L4.74207 24L6.2069 15.3186L0 9.16929L8.57379 7.89905L12.4138 0Z" fill="#FFB53D"/>
                                            </svg>
                                        </i>
                                        <i>
                                            <svg class="d-block" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.4138 0L16.2538 7.89905L24.8276 9.16929L18.6207 15.3186L20.0855 24L12.4138 19.9033L4.74207 24L6.2069 15.3186L0 9.16929L8.57379 7.89905L12.4138 0Z" fill="#FFB53D"/>
                                            </svg>
                                        </i>
                                        <i>
                                            <svg class="d-block" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.4138 0L16.2538 7.89905L24.8276 9.16929L18.6207 15.3186L20.0855 24L12.4138 19.9033L4.74207 24L6.2069 15.3186L0 9.16929L8.57379 7.89905L12.4138 0Z" fill="#FFB53D"/>
                                            </svg>
                                        </i>
                                        <i>
                                            <svg class="d-block" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.4138 0L16.2538 7.89905L24.8276 9.16929L18.6207 15.3186L20.0855 24L12.4138 19.9033L4.74207 24L6.2069 15.3186L0 9.16929L8.57379 7.89905L12.4138 0Z" fill="#FFB53D"/>
                                            </svg>
                                        </i>
                                        <i>
                                            <svg class="d-block" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.4138 0L16.2538 7.89905L24.8276 9.16929L18.6207 15.3186L20.0855 24L12.4138 19.9033L4.74207 24L6.2069 15.3186L0 9.16929L8.57379 7.89905L12.4138 0Z" fill="#FFB53D"/>
                                            </svg>
                                        </i>
                                    </div>
                                    <p class="heading-dark text">“ There are many variation of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of lorem Ipsum ”</p>
                                    <div class="author-block">
                                        <div class="avatar">
                                            <img src="./image/l-4/user-2.png" alt="user" class="avatar" class="w-100">
                                        </div>
                                        <div class="author-info">
                                            <h6>Olivia Liyan</h6>
                                            <p>UI/UX Designer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slider">
                                <div class="testimonial-card-04">
                                    <div class="card-rating d-flex align-items-center justify-content-center">
                                        <i>
                                            <svg class="d-block" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.4138 0L16.2538 7.89905L24.8276 9.16929L18.6207 15.3186L20.0855 24L12.4138 19.9033L4.74207 24L6.2069 15.3186L0 9.16929L8.57379 7.89905L12.4138 0Z" fill="#FFB53D"/>
                                            </svg>
                                        </i>
                                        <i>
                                            <svg class="d-block" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.4138 0L16.2538 7.89905L24.8276 9.16929L18.6207 15.3186L20.0855 24L12.4138 19.9033L4.74207 24L6.2069 15.3186L0 9.16929L8.57379 7.89905L12.4138 0Z" fill="#FFB53D"/>
                                            </svg>
                                        </i>
                                        <i>
                                            <svg class="d-block" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.4138 0L16.2538 7.89905L24.8276 9.16929L18.6207 15.3186L20.0855 24L12.4138 19.9033L4.74207 24L6.2069 15.3186L0 9.16929L8.57379 7.89905L12.4138 0Z" fill="#FFB53D"/>
                                            </svg>
                                        </i>
                                        <i>
                                            <svg class="d-block" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.4138 0L16.2538 7.89905L24.8276 9.16929L18.6207 15.3186L20.0855 24L12.4138 19.9033L4.74207 24L6.2069 15.3186L0 9.16929L8.57379 7.89905L12.4138 0Z" fill="#FFB53D"/>
                                            </svg>
                                        </i>
                                        <i>
                                            <svg class="d-block" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.4138 0L16.2538 7.89905L24.8276 9.16929L18.6207 15.3186L20.0855 24L12.4138 19.9033L4.74207 24L6.2069 15.3186L0 9.16929L8.57379 7.89905L12.4138 0Z" fill="#FFB53D"/>
                                            </svg>
                                        </i>
                                    </div>
                                    <p class="heading-dark text">“ There are many variation of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of lorem Ipsum ”</p>
                                    <div class="author-block">
                                        <div class="avatar">
                                            <img src="./image/l-4/user-4.png" alt="user" class="avatar" class="w-100">
                                        </div>
                                        <div class="author-info">
                                            <h6>Leaf Sinelly</h6>
                                            <p>Back End Developer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
