{% macro render(args) %}
    <div class="testimonial-section-04">
        <div class="container">
            <div class="row justify-content-center">
                <div class="section-title-block text-center">
                    <h6 class="subtitle mb-10 text-primary">Testimonial</h6>
                    <h2 class="titel text-white">What Client’s Say About US</h2>
                </div>
                <div class="col-xl-8 col-lg-10">
                    <div class="testimonial-section-04__slider">
                        <div class="testimonial-slider--04 testimonial-dots-01">
                            <div class="single-slider">
                                <div class="testimonial-card-04">
                                    <div class="card-rating d-flex align-items-center justify-content-center">
                                        <i>
                                            <svg class="d-block" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.4138 0L16.2538 7.89905L24.8276 9.16929L18.6207 15.3186L20.0855 24L12.4138 19.9033L4.74207 24L6.2069 15.3186L0 9.16929L8.57379 7.89905L12.4138 0Z" fill="#FFB53D"/>
                                            </svg>
                                        </i>
                                        <i>
                                            <svg class="d-block" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.4138 0L16.2538 7.89905L24.8276 9.16929L18.6207 15.3186L20.0855 24L12.4138 19.9033L4.74207 24L6.2069 15.3186L0 9.16929L8.57379 7.89905L12.4138 0Z" fill="#FFB53D"/>
                                            </svg>
                                        </i>
                                        <i>
                                            <svg class="d-block" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.4138 0L16.2538 7.89905L24.8276 9.16929L18.6207 15.3186L20.0855 24L12.4138 19.9033L4.74207 24L6.2069 15.3186L0 9.16929L8.57379 7.89905L12.4138 0Z" fill="#FFB53D"/>
                                            </svg>
                                        </i>
                                        <i>
                                            <svg class="d-block" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.4138 0L16.2538 7.89905L24.8276 9.16929L18.6207 15.3186L20.0855 24L12.4138 19.9033L4.74207 24L6.2069 15.3186L0 9.16929L8.57379 7.89905L12.4138 0Z" fill="#FFB53D"/>
                                            </svg>
                                        </i>
                                        <i>
                                            <svg class="d-block" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.4138 0L16.2538 7.89905L24.8276 9.16929L18.6207 15.3186L20.0855 24L12.4138 19.9033L4.74207 24L6.2069 15.3186L0 9.16929L8.57379 7.89905L12.4138 0Z" fill="#FFB53D"/>
                                            </svg>
                                        </i>
                                    </div>
                                    <p class="heading-dark text">“ There are many variation of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of lorem Ipsum  ”</p>
                                    <div class="author-block">
                                        <div class="avatar">
                                            <img src="./image/l-4/user-1.png" alt="user" class="avatar" class="w-100">
                                        </div>
                                        <div class="author-info">
                                            <h6>Jesica Lirona</h6>
                                            <p>Front End Developer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slider">
                                <div class="testimonial-card-04">
                                    <div class="card-rating d-flex align-items-center justify-content-center">
                                        <i>
                                            <svg class="d-block" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.4138 0L16.2538 7.89905L24.8276 9.16929L18.6207 15.3186L20.0855 24L12.4138 19.9033L4.74207 24L6.2069 15.3186L0 9.16929L8.57379 7.89905L12.4138 0Z" fill="#FFB53D"/>
                                            </svg>
                                        </i>
                                        <i>
                                            <svg class="d-block" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.4138 0L16.2538 7.89905L24.8276 9.16929L18.6207 15.3186L20.0855 24L12.4138 19.9033L4.74207 24L6.2069 15.3186L0 9.16929L8.57379 7.89905L12.4138 0Z" fill="#FFB53D"/>
                                            </svg>
                                        </i>
                                        <i>
                                            <svg class="d-block" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.4138 0L16.2538 7.89905L24.8276 9.16929L18.6207 15.3186L20.0855 24L12.4138 19.9033L4.74207 24L6.2069 15.3186L0 9.16929L8.57379 7.89905L12.4138 0Z" fill="#FFB53D"/>
                                            </svg>
                                        </i>
                                        <i>
                                            <svg class="d-block" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.4138 0L16.2538 7.89905L24.8276 9.16929L18.6207 15.3186L20.0855 24L12.4138 19.9033L4.74207 24L6.2069 15.3186L0 9.16929L8.57379 7.89905L12.4138 0Z" fill="#FFB53D"/>
                                            </svg>
                                        </i>
                                        <i>
                                            <svg class="d-block" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.4138 0L16.2538 7.89905L24.8276 9.16929L18.6207 15.3186L20.0855 24L12.4138 19.9033L4.74207 24L6.2069 15.3186L0 9.16929L8.57379 7.89905L12.4138 0Z" fill="#FFB53D"/>
                                            </svg>
                                        </i>
                                    </div>
                                    <p class="heading-dark text">“ There are many variation of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of lorem Ipsum ”</p>
                                    <div class="author-block">
                                        <div class="avatar">
                                            <img src="./image/l-4/user-3.png" alt="user" class="avatar" class="w-100">
                                        </div>
                                        <div class="author-info">
                                            <h6>Emma Simian</h6>
                                            <p>Full Stack Developer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slider">
                                <div class="testimonial-card-04">
                                    <div class="card-rating d-flex align-items-center justify-content-center">
                                        <i>
                                            <svg class="d-block" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.4138 0L16.2538 7.89905L24.8276 9.16929L18.6207 15.3186L20.0855 24L12.4138 19.9033L4.74207 24L6.2069 15.3186L0 9.16929L8.57379 7.89905L12.4138 0Z" fill="#FFB53D"/>
                                            </svg>
                                        </i>
                                        <i>
                                            <svg class="d-block" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.4138 0L16.2538 7.89905L24.8276 9.16929L18.6207 15.3186L20.0855 24L12.4138 19.9033L4.74207 24L6.2069 15.3186L0 9.16929L8.57379 7.89905L12.4138 0Z" fill="#FFB53D"/>
                                            </svg>
                                        </i>
                                        <i>
                                            <svg class="d-block" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.4138 0L16.2538 7.89905L24.8276 9.16929L18.6207 15.3186L20.0855 24L12.4138 19.9033L4.74207 24L6.2069 15.3186L0 9.16929L8.57379 7.89905L12.4138 0Z" fill="#FFB53D"/>
                                            </svg>
                                        </i>
                                        <i>
                                            <svg class="d-block" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.4138 0L16.2538 7.89905L24.8276 9.16929L18.6207 15.3186L20.0855 24L12.4138 19.9033L4.74207 24L6.2069 15.3186L0 9.16929L8.57379 7.89905L12.4138 0Z" fill="#FFB53D"/>
                                            </svg>
                                        </i>
                                        <i>
                                            <svg class="d-block" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.4138 0L16.2538 7.89905L24.8276 9.16929L18.6207 15.3186L20.0855 24L12.4138 19.9033L4.74207 24L6.2069 15.3186L0 9.16929L8.57379 7.89905L12.4138 0Z" fill="#FFB53D"/>
                                            </svg>
                                        </i>
                                    </div>
                                    <p class="heading-dark text">“ There are many variation of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of lorem Ipsum ”</p>
                                    <div class="author-block">
                                        <div class="avatar">
                                            <img src="./image/l-4/user-2.png" alt="user" class="avatar" class="w-100">
                                        </div>
                                        <div class="author-info">
                                            <h6>Olivia Liyan</h6>
                                            <p>UI/UX Designer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slider">
                                <div class="testimonial-card-04">
                                    <div class="card-rating d-flex align-items-center justify-content-center">
                                        <i>
                                            <svg class="d-block" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.4138 0L16.2538 7.89905L24.8276 9.16929L18.6207 15.3186L20.0855 24L12.4138 19.9033L4.74207 24L6.2069 15.3186L0 9.16929L8.57379 7.89905L12.4138 0Z" fill="#FFB53D"/>
                                            </svg>
                                        </i>
                                        <i>
                                            <svg class="d-block" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.4138 0L16.2538 7.89905L24.8276 9.16929L18.6207 15.3186L20.0855 24L12.4138 19.9033L4.74207 24L6.2069 15.3186L0 9.16929L8.57379 7.89905L12.4138 0Z" fill="#FFB53D"/>
                                            </svg>
                                        </i>
                                        <i>
                                            <svg class="d-block" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.4138 0L16.2538 7.89905L24.8276 9.16929L18.6207 15.3186L20.0855 24L12.4138 19.9033L4.74207 24L6.2069 15.3186L0 9.16929L8.57379 7.89905L12.4138 0Z" fill="#FFB53D"/>
                                            </svg>
                                        </i>
                                        <i>
                                            <svg class="d-block" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.4138 0L16.2538 7.89905L24.8276 9.16929L18.6207 15.3186L20.0855 24L12.4138 19.9033L4.74207 24L6.2069 15.3186L0 9.16929L8.57379 7.89905L12.4138 0Z" fill="#FFB53D"/>
                                            </svg>
                                        </i>
                                        <i>
                                            <svg class="d-block" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.4138 0L16.2538 7.89905L24.8276 9.16929L18.6207 15.3186L20.0855 24L12.4138 19.9033L4.74207 24L6.2069 15.3186L0 9.16929L8.57379 7.89905L12.4138 0Z" fill="#FFB53D"/>
                                            </svg>
                                        </i>
                                    </div>
                                    <p class="heading-dark text">“ There are many variation of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of lorem Ipsum ”</p>
                                    <div class="author-block">
                                        <div class="avatar">
                                            <img src="./image/l-4/user-4.png" alt="user" class="avatar" class="w-100">
                                        </div>
                                        <div class="author-info">
                                            <h6>Leaf Sinelly</h6>
                                            <p>Back End Developer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
