{% macro render(args) %}
    <div class="testimonial-section-04">
        <div class="container">
            <div class="row align-items-center justify-content-center testimonial-section-04__content">
                <div class="col-sm-6">
                    <div class="section-content-block text-center text-sm-start">
                        <h6 class="subtitle text-primary mb-10">Our Case Studies</h6>
                        <h2 class="title">View Our Recent Case Stuides</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="section-button text-center mt-4 mt-sm-0 text-sm-end">
                        <a class="btn btn-1 btn-primary" href="#">
                            View More Works
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 13L7 7L1 1" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row card-row justify-content-center">
                <div class="col-xxl-6 col-lg-9">
                    <div class="testimonial-card-05">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="testimonial-card-05__content">
                                    <p class=" pe-lg-5">There are many variations of passage of Ipsum available, but this a majority have suffered alteration a some form, by injected humour, or words which don't slightly believable.</p>
                                    <div class="testimonial-card-05__content--author">
                                        <div class="avatar">
                                            <img src="./image/l-4/t-s-1.png" alt="avatar" class="w-100">
                                        </div>
                                        <div class="avatar-info">
                                            <h6>Michle Jhon Doe</h6>
                                            <p>It Manager, Melcafe</p>
                                        </div>
                                    </div>
                                    <a class="btn btn-primary" href="#">
                                        Read Case Study
                                        <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 13L7 7L1 1" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="testimonial-card-05__image d-none d-md-block">
                                    <figure class="mask-img">
                                        <img src="./image/l-4/t-m-1.png" alt="testimonial" class="w-100 h-100">
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-6 col-lg-9">
                    <div class="testimonial-card-05">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="testimonial-card-05__content">
                                    <p class=" pe-lg-5">There are many variations of passage of Ipsum available, but this a majority have suffered alteration a some form, by injected humour, or words which don't slightly believable.</p>
                                    <div class="testimonial-card-05__content--author">
                                        <div class="avatar">
                                            <img src="./image/l-4/t-s-1.png" alt="avatar" class="w-100">
                                        </div>
                                        <div class="avatar-info">
                                            <h6>Michle Jhon Doe</h6>
                                            <p>It Manager, Melcafe</p>
                                        </div>
                                    </div>
                                    <a class="btn btn-primary" href="#">
                                        Read Case Study
                                        <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 13L7 7L1 1" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="testimonial-card-05__image d-none d-md-block">
                                    <figure class="mask-img">
                                        <img src="./image/l-4/t-m-2.png" alt="testimonial" class="w-100 h-100">
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
